<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">

//>>>>>>>>>>>>>>>>>>>img>>>>>>>>>>>>>>>>>>>>>>>>>>>>
var img = {};
img.zIndex = 1000;
img.click = function(obj) {	
	if (obj.height == 80) {
		$(obj).css({position:"fixed",left:$(obj).offset().left,top:$(obj).offset().top});
		$(obj).css({zIndex:++img.zIndex,width:$(obj).data("data-init-width"),height:$(obj).data("data-init-height")});
	}
	else {
		$(obj).css({position:""});
		$(obj).css({zIndex:1000,width:80,height:80});
	}
}
img.html = '<td class="imgTd">\
	<table style="height:80px"><tr><td rowspan="2" style="width:80px;"><img data-init-width="" data-init-height="" onclick="img.click(this)" class="uploadImg" onload="img.resize(this)"/></td><td class="glyphicon glyphicon-remove-circle" onclick="img.remove(this)"></td></tr>\
	</table></td>';
img.fileChange = function(obj) {
	this.loadImg(obj.files, obj.files.length, $(obj).parent().parent());
	
	// 重新生成一个，防止在图片被删除时onchange不生效
	$(obj).prop("outerHTML", $(obj).prop("outerHTML"));
}
img.loadImg = function(f, n, imgTr) {
	n--;
	
	// data-max-size默认为1M,maxLength默认为1
	var maxSize =  $(imgTr).find("input").attr("data-max-size");
	maxSize = !maxSize ? 1024*1024 : new Number(maxSize);
	var maxLength = $(imgTr).find("input").attr("data-max-length");
	maxLength = !maxLength ? 1 : new Number(maxLength);
	
	var accept = $(imgTr).find("input").attr("accept").split(",");
	var isAccept = false;
	for (var i = 0; i < accept.length; i++) {
		var fName = f[n].name.split(".");
		isAccept = "." + fName[fName.length - 1].toLowerCase() == accept[i];
	}
	if (isAccept == false) {
		return alertWarning("后缀名必须为:" + accept);
	}
	if (f[n].size > maxSize) {
		var max = maxSize >= 1024*1024 ? (maxSize/1024/1024).toFixed(1) + "M" : (maxSize/1024).toFixed(1) + "K";
		return alertWarning("不能大于" + max);
	}
	if　($(imgTr).find(".imgTd").length　== maxLength) {
		return alertWarning("最多" + maxLength  + "个");
	}
	
	var td = $(this.html);
	td.appendTo(imgTr);
	var reader = new FileReader();
	reader.onload = function(e) {
		var imgObj = td.find("img");
		imgObj.prop("src", this.result);
		imgObj.data("file", f[n]);
		if (n > 0) img.loadImg(f, n, imgTr);
	}
	reader.readAsDataURL(f[n]);
}
img.resize = function(img) {
	$(img).data("data-init-width", img.width);
	$(img).data("data-init-height", img.height);
	$(img).css({width:80 * img.width / img.height, height:80});

}
img.remove = function(obj) {
	$(obj).parents(".imgTd").remove();
}



$(function() {
});

function uploadImg(callback) {
	var formData = new FormData();
	$(".uploadImg").each(function() {formData.append("file", $(this).data("file"))});	
	
	$.ajax({url:[[@{/imgUpload/multipleSave}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			var len = r.arrayList.length;
			if ($(".uploadImg").length != len) {
				alertDanger("上传失败");
				return;
			}
			
			for (var i = 0; i < len; i++) {
				// 上传后路径写回img
				$(".uploadImg").eq(i).data("imgSrc", r.arrayList[i]);
			}
			
			// 路径以,分格写到hidden
			$(".imgTr").each(function() {
				var r = [];
				$(this).find("img").each(function(){
					r.push($(this).data("imgSrc"));
				});
				$(this).find("[name=skuImgSrc]").val(r);
			});
			callback.call();
		}
	});
}


function upload(obj) {
	
}
</script>
</head>

<body class="page-list-body">

<div class="page-list-query">
	<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>test</span></div>
</div>





<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th class="w-id">TYPE</th>
		<th class="w-id">IMG</th>
		<th class="w-id">ACTION</th>
	</tr>
	<tr th:each="img:${imgList}">
		<td th:text="${img.imgType}"></td>
		<td><img th:src="#{imgUrl} + ${merchantId} + '/show/cat.png'" style="width:10px;height:10px"></td>
		<td>
			<table border=1 style="border-color:#DDDDDD;height:82px">
			<tr class="imgTr">
			<td>
				<input type="file" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
				<a href="#" onclick="$(this).prev().click()">[+]</a><a href="#" onclick="upload(this)">上传</a>
			</td>			
			</tr>
			</table>
			
		</td>
	</tr>
</table>





</body>
</html>























