<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/repository/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/repository/insertRepository}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				queryPage(1);
			}
		});
	}
}

function edit(id) {
	showLoading();
	$.post([[@{/repository/getRepository}]], "id=" + id, function(r) {
		hideLoading();
		$('#edit').modal('show');
		$("#editTemplate").nextAll().remove();
		$("#editTemplate").parent().append(template("editTemplate", r));
	});
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/repository/updateRepository}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				queryPage(1);
			}
		});
	}
}

function remove(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/repository/deleteRepository}]], "id=" + id, function(r) {
			if (r.result == 1) {
				queryPage(1);
			}
		});	
	}
	confirm(id, callback);
}
</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('仓库管理')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="text" class="form-control input-sm" name="repoName" placeholder="请输入仓库名称" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>Addr</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.repoId}}</td>
		<td class="w-title-s">{{v.repoName}}</td>
		<td class="w-title-m">{{v.repoAddress}}</td>
		<td class="w-action">
			<a href="#" onclick="remove('{{v.repoId}}')" class="glyphicon glyphicon-trash" title="删除"></a>&nbsp;&nbsp;
			<a href="#" onclick="edit('{{v.repoId}}')" class="glyphicon glyphicon-edit" title="修改"></a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 360)">
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="repoName" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>addR：</label>
		<div class="col-sm-7"><input type="text" name="repoAddress" class="form-control validate[required]" maxlength="32"></div>
	</div>
	
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 360)">
	<script id="editTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-3 control-label">ID：</label>
		<div class="col-sm-7"><input type="text" name="repoId" value="{{repository.repoId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="repoName" value="{{repository.repoName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="repoAddress" value="{{repository.repoAddress}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	</script>
</div>

</body>
</html>

