<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/hitWord/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}


</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('搜索词管理')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<select class="form-control input-sm" id="storeId" name="storeId" onchange="storeChange(this)">
				<option th:value="${item.storeId}" th:text="${item.storeName}" th:each="item:${storeList}"></option>
		</select>
			
		<input type="text" class="form-control input-sm" name="extWord" placeholder="请输入搜索词" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>openid</th>
		<th>搜索词</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.openid}}</td>
		<td class="w-title-m">{{v.hisWord}}</td>
		<td class="w-date">{{v.created}}</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>





</body>
</html>

