<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	
});


function queryPage(pageNumber) {
	$("#pageNumber").val(pageNumber);
	showLoading();
	
	
	
	$.get([[@{/query/cat}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		// cat	
		$("#catView").empty();
		for (var i = 0; i < r.catList.length; i++) {
			$("#catView").append('<a href="javascript:onCat(' + r.catList[i].cid + ')">' + r.catList[i].cn + '(' + r.catList[i].n + ')</a>');
		}
		if (r.catList.length > 0 && $("#cId").val() != "") {
			$("#catView").append('<a href="javascript:onCat(\'\')">cancel</a>');
		}
		
		hideLoading();
	});
}

function query() {
	$("#cId").val("");
	queryPage(1);
}

function onCat(cId) {
	$("#cId").val(cId);
	queryPage(1);
}

</script>

<style>
#catView a {
	padding-left:10px
}

.page-list-title {display: none;}
</style>

</head>

<body>

<ul id="myTab" class="nav nav-tabs" th:include="store/search/pre/preHead"></ul>
<script th:inline="javascript">$("#cat").tab('show')</script>

<div th:replace="common/fragment/common::pageList('')">
	<div th:fragment="queryFragment">
		<input type="hidden" id="cId" name="cId">
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	
	<table th:fragment="listFragment">
	<tr>
	<td colspan="2">
		<table>
			<tr><td style="text-align: left;margin-left:10px">PPPPP<span id="catView"></span></td></tr>
		</table>
	</td>
	</tr>
	
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.src}}</td>
		<td class="w-id">
			<div>{{v.t}}</div>
			<a href="/preSearch/promo?progId={{v.gid}}" target="_blank">{{v.arg}}</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>




</body>
</html>

