<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	
});


function queryPage(pageNumber) {
	$("#pageNumber").val(pageNumber);
	showLoading();
	
	
	
	$.get([[@{/query/promo}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		// promo
		$("#promoView").empty();
		for (var i = 0; i < r.promoList.length; i++) {
			$("#promoView").append('<a href="javascript:onPromo(' + r.promoList[i].gid + ')">' + r.promoList[i].arg + '(' + r.promoList[i].n + ')</a>');
		}
		if (r.promoList.length > 0 && $("#gId").val() != "") {
			$("#promoView").append('<a href="javascript:onPromo(\'\')">cancel</a>');
		}
		
		hideLoading();
	});
}

function query() {
	$("#gId").val("");
	queryPage(1);
}

function onPromo(gId) {
	$("#gId").val(gId);
	queryPage(1);
}

</script>

<style>
#catView a {
	padding-left:10px
}

.page-list-title {display: none;}
</style>

</head>

<body>

<ul th:replace="store/search/pre/preCommon::head"></ul>
<script type="text/javascript">$("#promo").tab('show')</script>

<div th:replace="common/fragment/common::pageList('DEMO_TEST')">
	<div th:fragment="queryFragment">
		<input type="hidden" id="gId" name="gId">
		
		<select class="form-control input-sm" id="d" name="d" onchange="dateChange(this)">
			<option value="1">tod</option>
			<option value="2">tom</option>
		</select>
		<select class="form-control input-sm" id="sId" name="sId" onchange="storeChange(this)">
			<option th:value="${item.storeId}" th:text="${item.storeName}" th:each="item:${storeList}"></option>
		</select>
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	
	<table th:fragment="listFragment">
	<tr>
	<td colspan="2">
		<table>
			<tr><td style="text-align: left;margin-left:10px">PPPPP<span id="promoView"></span></td></tr>
		</table>
	</td>
	</tr>
	
	<tr th:replace="store/search/pre/preCommon::prod"></tr>
	
	</table>
</div>




</body>
</html>

