<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">



function queryPage(pageNumber) {
	var w = $("#w").val();
	$("#pageNumber").val(pageNumber);
	showLoading();
	
	
	
	$.get([[@{/query/testQuery}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		
		$("#fastView").empty();
		$("#catView").empty();
		$("#brandView").empty();
		$("#themeView").empty();
		$("#promoView").empty();
		hideLoading();
		
		if (r.page.totalRows == 0) {
			return;
		}
		
		// fast
		var selected = $("#fast").val() == 	1 ? "class='selected'" : "";
		$("#fastView").append('<a ' + selected + ' href="javascript:onFast(1)">fast(' + r.fastN + ')</a>');
		$("#fastView").append('<a href="javascript:onFast(\'\')">cancel</a>');
		
		
		// cat
		for (var i = 0; i < r.catList.length; i++) {
			var selected = $("#cId").val() == r.catList[i].cid ? "class='selected'" : "";
			$("#catView").append('<a ' + selected + ' href="javascript:onCat(' + r.catList[i].cid + ')">' + r.catList[i].cn + '(' + r.catList[i].n + ')</a>');
		}
		if (r.catList.length > 0 && $("#cId").val() != "") {
			$("#catView").append('<a href="javascript:onCat(\'\')">cancel</a>');
		}
		
		// brand
		for (var i = 0; i < r.brandList.length; i++) {
			var selected = $("#bId").val() == r.brandList[i].bid ? "class='selected'" : "";
			$("#brandView").append('<a ' + selected + ' href="javascript:onBrand(' + r.brandList[i].bid + ')">' + r.brandList[i].bn + '(' + r.brandList[i].n + ')</a>');
		}
		if (r.brandList.length > 0 && $("#bId").val() != "") {
			$("#brandView").append('<a href="javascript:onBrand(\'\')">cancel</a>');
		}
		
		// theme
		for (var i = 0; i < r.themeList.length; i++) {
			var selected = $("#tId").val() == r.themeList[i].tid ? "class='selected'" : "";
			$("#themeView").append('<a ' + selected + ' href="javascript:onTheme(' + r.themeList[i].tid + ')">' + r.themeList[i].tn + '(' + r.themeList[i].n + ')</a>');
		}
		if (r.themeList.length > 0 && $("#tId").val() != "") {
			$("#themeView").append('<a href="javascript:onTheme(\'\')">cancel</a>');
		}
		
		// promo
		for (var i = 0; i < r.promoList.length; i++) {
			var selected = $("#gId").val() == r.promoList[i].gid ? "class='selected'" : "";
			$("#promoView").append('<a ' + selected + ' href="javascript:onPromo(' + r.promoList[i].gid + ')">' + r.promoList[i].arg + '(' + r.promoList[i].n + ')</a>');
		}
		if (r.promoList.length > 0 && $("#gId").val() != "") {
			$("#promoView").append('<a href="javascript:onPromo(\'\')">cancel</a>');
		}
		
		
	});
}

function onFast(fast) {
	$("#fast").val(fast);
	queryPage(1);
}

function onCat(cId) {
	$("#cId").val(cId);
	queryPage(1);
}

function onBrand(bId) {
	$("#bId").val(bId);
	queryPage(1);
}

function onTheme(tId) {
	$("#tId").val(tId);
	queryPage(1);
}

function onPromo(gId) {
	$("#gId").val(gId);
	queryPage(1);
}

function query() {
	$("#cId").val("");
	$("#gId").val("");
	queryPage(1);
}


$(function() {
	if  (localStorage.defaultStoreId) {
		$("#sId option[value=" + localStorage.defaultStoreId + "]").attr("selected", true);
	}
	else {
		localStorage.defaultStoreId = $("#sId").val();
	}
});

function storeChange(obj) {
	localStorage.defaultStoreId = $(obj).val();
}
</script>

<style>
#catView a {
	padding-left:10px
}
.page-list-title {display: none;}

.selected {
	color:white;
	background-color: blue;
}
</style>

</head>

<body>




<ul th:replace="store/search/pre/preCommon::head"></ul>
<script type="text/javascript">$("#search").tab('show')</script>

<div th:replace="common/fragment/common::pageList('')">
	<div th:fragment="queryFragment">
		<input type="hidden" id="fast" name="fast">
		<input type="hidden" id="cId" name="cId">
		<input type="hidden" id="bId" name="bId">
		<input type="hidden" id="tId" name="tId">
		<input type="hidden" id="gId" name="gId">
		<input type="hidden" id="o" name="o">
		
		<select class="form-control input-sm" id="d" name="d" onchange="dateChange(this)">
			<option value="0">tod</option>
			<option value="1">tom</option>
		</select>
		
		<select class="form-control input-sm" id="sId" name="sId" onchange="storeChange(this)">
			<option th:value="${item.storeId}" th:text="${item.storeName}" th:each="item:${storeList}"></option>
		</select>
		<input type="text" class="form-control input-sm" id="w" name="w" placeholder="请输入WORD" style="width:200px;" value="招聘">
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	
	<table th:fragment="listFragment">
	<tr>
	<td colspan="2">
		<table>
			<tr><td style="text-align: left;margin-left:10px">
				<select onchange="$('#o').val($(this).val());queryPage(1);">
					<option value="0">normal</option><option value="1">new</option>
				</select>
			</td></tr>
			<tr><td style="text-align: left;margin-left:10px">fast<span id="fastView"></span></td></tr>
			<tr><td style="text-align: left;margin-left:10px">cccc<span id="catView"></span></td></tr>
			<tr><td style="text-align: left;margin-left:10px">bbbb<span id="brandView"></span></td></tr>
			<tr><td style="text-align: left;margin-left:10px">bbbb<span id="themeView"></span></td></tr>
			<tr><td style="text-align: left;margin-left:10px">pppp<span id="promoView"></span></td></tr>
		</table>
	</td>
	</tr>
	
	<tr th:replace="store/search/pre/preCommon::prod"></tr>
	
	
	</table>
</div>



</body>
</html>

