<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">



function queryPage(pageNumber) {
	var w = $("#w").val();
	if (w == "") {
		alertWarning("不能为空！");
		return;
	}
	$("#pageNumber").val(pageNumber);
	showLoading();
	
	
	
	$.get([[@{/query/q}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		
		// fast
		$("#fastView").empty();
		$("#fastView").append('<a href="javascript:onFast(1)">fast(' + r.fastN + ')</a>');
		$("#fastView").append('<a href="javascript:onFast(\'\')">cancel</a>');
		
		
		// cat	
		$("#catView").empty();
		for (var i = 0; i < r.catList.length; i++) {
			$("#catView").append('<a href="javascript:onCat(' + r.catList[i].cid + ')">' + r.catList[i].cn + '(' + r.catList[i].n + ')</a>');
		}
		if (r.catList.length > 0 && $("#cId").val() != "") {
			$("#catView").append('<a href="javascript:onCat(\'\')">cancel</a>');
		}
		
		// promo
		$("#promoView").empty();
		for (var i = 0; i < r.promoList.length; i++) {
			$("#promoView").append('<a href="javascript:onPromo(' + r.promoList[i].gid + ')">' + r.promoList[i].arg + '(' + r.promoList[i].n + ')</a>');
		}
		if (r.promoList.length > 0 && $("#gId").val() != "") {
			$("#promoView").append('<a href="javascript:onPromo(\'\')">cancel</a>');
		}
		
		
		hideLoading();
	});
}

function onFast(fast) {
	$("#fast").val(fast);
	queryPage(1);
}

function onCat(cId) {
	$("#cId").val(cId);
	queryPage(1);
}

function onPromo(gId) {
	$("#gId").val(gId);
	queryPage(1);
}

function query() {
	$("#cId").val("");
	$("#gId").val("");
	queryPage(1);
}


$(function() {
	if  (localStorage.defaultStoreId) {
		$("#sId option[value=" + localStorage.defaultStoreId + "]").attr("selected", true);
	}
	else {
		localStorage.defaultStoreId = $("#sId").val();
	}
});

function storeChange(obj) {
	localStorage.defaultStoreId = $(obj).val();
}
</script>

<style>
#catView a {
	padding-left:10px
}
.page-list-title {display: none;}
</style>

</head>

<body>




<ul th:replace="store/search/pre/preCommon::head"></ul>
<script type="text/javascript">$("#search").tab('show')</script>

<div th:replace="common/fragment/common::pageList('')">
	<div th:fragment="queryFragment">
		<input type="hidden" id="fast" name="fast">
		<input type="hidden" id="cId" name="cId">
		<input type="hidden" id="gId" name="gId">
		
		<select class="form-control input-sm" id="d" name="d" onchange="dateChange(this)">
			<option value="1">tod</option>
			<option value="2">tom</option>
		</select>
		
		<select class="form-control input-sm" id="sId" name="sId" onchange="storeChange(this)">
			<option th:value="${item.storeId}" th:text="${item.storeName}" th:each="item:${storeList}"></option>
		</select>
		<input type="text" class="form-control input-sm" id="w" name="w" placeholder="请输入WORD" style="width:200px;" value="招聘">
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	
	<table th:fragment="listFragment">
	<tr>
	<td colspan="2">
		<table>
			<tr><td style="text-align: left;margin-left:10px">fast<span id="fastView"></span></td></tr>
			<tr><td style="text-align: left;margin-left:10px">cccc<span id="catView"></span></td></tr>
			<tr><td style="text-align: left;margin-left:10px">PPPPP<span id="promoView"></span></td></tr>
		</table>
	</td>
	</tr>
	
	<tr th:replace="store/search/pre/preCommon::prod"></tr>
	
	
	</table>
</div>



</body>
</html>

