<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	
});


function queryPage(pageNumber) {
	$("#pageNumber").val(pageNumber);
	showLoading();
	
	
	
	$.get([[@{/query/theme}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		// theme	
		$("#themeView").empty();
		for (var i = 0; i < r.themeList.length; i++) {
			$("#themeView").append('<a href="javascript:onTheme(' + r.themeList[i].tid + ')">' + r.themeList[i].tn + '(' + r.themeList[i].n + ')</a>');
		}
		if (r.themeList.length > 0 && $("#tId").val() != "") {
			$("#themeView").append('<a href="javascript:onTheme(\'\')">cancel</a>');
		}
		
		hideLoading();
	});
}

function query() {
	$("#tId").val("");
	queryPage(1);
}

function onTheme(tId) {
	$("#tId").val(tId);
	queryPage(1);
}

</script>

<style>
#catView a {
	padding-left:10px
}

.page-list-title {display: none;}
</style>



</head>

<body>

<ul id="myTab" class="nav nav-tabs" th:include="store/search/pre/preCommon::head"></ul>
<script th:inline="javascript">$("#theme").tab('show')</script>

<div th:replace="common/fragment/common::pageList('')">
	<div th:fragment="queryFragment">
		<input type="hidden" id="tId" name="tId">
		<select class="form-control input-sm" id="sId" name="sId" onchange="storeChange(this)">
			<option th:value="${item.storeId}" th:text="${item.storeName}" th:each="item:${storeList}"></option>
		</select>
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	
	<table th:fragment="listFragment">
	<tr>
	<td colspan="2">
		<table>
			<tr><td style="text-align: left;margin-left:10px">BBB<span id="themeView"></span></td></tr>
		</table>
	</td>
	</tr>
	
	<tr th:replace="store/search/pre/preCommon::prod"></tr>
	</table>
</div>




</body>
</html>

