<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	refreshData([[${listJson}]]);
});

function query() {
	showLoading();
	$.post([[@{/brand/listJson}]], "status=" + $("[name=status]:checked").val(), function(r) {
		refreshData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/brand/insertBrand}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				query(1);
			}
		});
	}
}

function edit(id, x, y) {
	$("#imgDiv").show();
	$("#editBrandImgX option[value=" + x + "]").attr("selected", true);
	$("#editBrandImgY option[value=" + y + "]").attr("selected", true);
	editImgChange();
	
	showLoading();
	$.post([[@{/brand/getBrand}]], "id=" + id, function(r) {
		hideLoading();
		$('#edit').modal('show');
		$("#editTemplate").nextAll().remove();
		$("#editTemplate").parent().append(template("editTemplate", r));
	});
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/brand/updateBrand}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				query();
			}
		});
	}
}

function remove(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/brand/deleteBrand}]], "id=" + id, function(r) {
			if (r.result == 1) {
				query();
			}
		});	
	}
	confirm(id, callback);
}

function restore(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/brand/restoreBrand}]], "id=" + id, function(r) {
			if (r.result == 1) {
				query();
			}
		});	
	}
	confirm("是不是要恢复" + id, callback);
}


var move = {};
move.top = function(id) {
	$.post([[@{/brand/top}]], "id=" + id, function(r) {
		if (r.result == 1) {
			query();
		}
	});	
}
move.up = function(id) {
	$.post([[@{/brand/up}]], "id=" + id, function(r) {
		if (r.result == 1) {
			query();
		}
	});
}
move.down = function(id) {
	$.post([[@{/brand/down}]], "id=" + id, function(r) {
		if (r.result == 1) {
			query();
		}
	});
}


function addImgChange() {
	var x = new Number($("#addBrandImgX").val());
	var y = new Number($("#addBrandImgY").val());
	$("#addBrandImg").css("background-position", "-" + 100*x + "px -" + 100*y +"px")
}

function editImgChange() {
	var x = new Number($("#editBrandImgX").val());
	var y = new Number($("#editBrandImgY").val());
	$("#editBrandImg").css("background-position", "-" + 100*x + "px -" + 100*y +"px")
}
</script>

<style th:inline="text">
.brandImgUrl {background-image: url("[[${imgSrc}]]");}
.brandImgList {background-size:250px 250px;width:50px;height:50px;margin:0 auto;}
.brandImg {width:100px;height:100px;margin:0 auto;}
</style>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>品牌管理</span></div>
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="radio" onchange="query()" value="1" name="status" id="normal" style="vertical-align:sub;width:25px" checked="checked"><label class="control-label" for="normal">正常</label>
		<input type="radio" onchange="query()" value="" name="status" id="all" style="vertical-align:sub;width:25px"><label class="control-label" for="all">全部</label>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>ID</th>
		<th>品牌名称</th>
		<th>图片</th>
		<th>排序</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr {{if v.recordStatus == 0}}style="color:#CCCCCC"{{/if}}>
		<td class="w-id">{{v.brandId}}</td>
		<td class="w-title-s">{{v.brandName}}</td>
		<td class="w-id"><div class="brandImgUrl brandImgList" style="background-position: -{{v.brandImgX * 50}}px -{{v.brandImgY * 50}}px;"></div></td>
		<td class="w-action">
			{{if arrayList.length != 1 && i !== 0}}
			<a href="#" onclick="move.top({{v.brandId}})" title="置顶" class="glyphicon glyphicon-step-backward" style="transform: rotate(90deg);"></a>
			<a href="#" onclick="move.up({{v.brandId}})" title="上移" class="glyphicon glyphicon-arrow-up"></a>
			{{/if}}
			
			{{if arrayList.length != 1 && i != arrayList.length - 1}}
			<a href="#" onclick="move.down({{v.brandId}})" title="下移" class="glyphicon glyphicon-arrow-down"></a>
			{{/if}}					
		</td>
		<td class="w-id">{{v.recordStatus}}</td>
		
		<td class="w-action">
		{{if v.recordStatus == 1}}
			<a href="#" onclick="remove({{v.brandId}})">[删除]</a>&nbsp;&nbsp;
			<a href="#" onclick="edit('{{v.brandId}}', {{v.brandImgX}}, {{v.brandImgY}})">[修改]</a>
		{{else}}
			<a href="#" onclick="restore({{v.brandId}})">[恢复]</a>
		{{/if}}
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 420)">
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>品牌名称：</label>
		<div class="col-sm-6"><input type="text" name="brandName" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标X：</label>
		<div class="col-sm-6">
			<select class="form-control" id="addBrandImgX" name="brandImgX" onchange="addImgChange()">
				<option th:each="item:${listImgX}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标Y：</label>
		<div class="col-sm-6">
			<select class="form-control" id="addBrandImgY" name="brandImgY" onchange="addImgChange()">
				<option th:each="item:${listImgY}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="brandImgUrl brandImg" id="addBrandImg"></div>
	</div>
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 420)">
	<script id="editTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-4 control-label">ID：</label>
		<div class="col-sm-6"><input type="text" name="brandId" value="{{brand.brandId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>品牌名称：</label>
		<div class="col-sm-6"><input type="text" name="brandName" value="{{brand.brandName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>


	<div id="imgDiv">
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标X：</label>
		<div class="col-sm-6">
			<select class="form-control" id="editBrandImgX" name="brandImgX" onchange="editImgChange()">
				<option th:each="item:${listImgX}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标Y：</label>
		<div class="col-sm-6">
			<select class="form-control" id="editBrandImgY" name="brandImgY" onchange="editImgChange()">
				<option th:each="item:${listImgY}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="brandImgUrl brandImg" id="editBrandImg"></div>
	</div>
	</div>
	</script>
</div>

</body>
</html>























