<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>DEMO</title>

<link th:replace="common/fragment/common::common"/>
<link rel="stylesheet" th:href="@{/static/module/grant/menu.css}" />
<script type="text/javascript" th:src="@{/static/module/grant/menu.js}"></script>
<script type="text/javascript" th:inline="javascript">var menu = [[${menu}]];</script>


<body style="display:">
    <div id="menuDiv" class="list-group"><ul id="accordion" class="accordion"></ul></div>
    
    <div id="topDiv" style="background-color:#EEEEEE">
    	<a id="toggleId" style="padding-right:20px" href="javascript:toggleMenu()">&lt;</a>
    	
    	帐号：<span th:text="${account.loginAccount}"></span>&nbsp;&nbsp;
    	商户名称：<span th:text="${account.merchantName}"></span>&nbsp;&nbsp;
    	
    	<a href="javascript:gotoIndex()">首页</a>｜
    	<!-- 管理员不能修改密码 --> 
    	<a th:if="${isAdmin==false}" href="javascript:editPassword()">修改密码</a><span th:if="${isAdmin==false}">｜</span>
    	<a href="javascript:logout()">退出</a>&nbsp;&nbsp;
    	
    	<a target="_blank" th:href="@{/monitorView/index}" class="badge" style="color:white;">
    		<span class="badge" style="background-color: green;  height:14px;width:14px;display:inline-block;"></span>
    		系统监控
    	</a>
    </div>
    
    <div id="iframeDiv">
    	<div id="iframeLoading"><span class="glyphicon glyphicon-info-sign"></span>请稍候...</div>
		<iframe id="content" th:src="@{/index/home}" onload="iframeLoad()"></iframe>
    </div>
</body>