<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">


function editPassword() {
	if (!$("#editForm").validationEngine('validate')) {
		return;
	}
	
	var para = "oldP=" + $("#oldP").val() + "&newP=" + $("#newP").val();
	$.post([[@{index/updatePassword}]], para, function(r) {
		if (r.result == -1) {
			alertWarning("旧密码不正确！");
		}
		else if(r.result == 1) {
			alertSuccess();
		}
		
	});
}

function validateEnsure(field, rules, i, options) { 
	if ($("#newP").val() != $("#ensureP").val()) {
		return "新密码跟确认新密码不相同！";
	}
}
</script>
</head>

<body>

<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>修改密码</span></div>
	</div>
</div>
		
<form id="editForm" class="bs-example bs-example-form" style="width:500px;padding-left:80px;margin: 0 auto;">
	<div class="input-group" style="width:500px;">
		<span class="input-group-addon" style="width:120px">旧&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码</span>
		<input type="password" id="oldP" class="form-control validate[required]"  maxlength="10" style="width:300px">
	</div>
	<div class="input-group" style="width:500px;margin-top:10px">
		<span class="input-group-addon" style="width:120px">新&nbsp&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码</span>
		<input type="password" id="newP" class="form-control validate[required]" maxlength="10" style="width:300px">
	</div>
	<div class="input-group" style="width:500px;margin-top:10px">
		<span class="input-group-addon" style="width:120px">确认新密码</span>
		<input type="password" id="ensureP" class="form-control validate[required,funcCall[validateEnsure]]" maxlength="10" style="width:300px">
	</div>	
	<div class="input-group" style="width:500px;margin-top:10px">
		<button type="button" class="btn btn-primary popover-show" style="width:420px" onclick="editPassword()">确定</button>
	</div>
</form>

</body>
</html>
