<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/merchant/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/merchant/insertMerchant}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				queryPage(1);
				alertSuccess();
			}
			else if (r.result == -1) {
				alertWarning("商户帐号已经存在！");
				hideLoading();
			}
			else if (r.result == -2) {
				alertWarning("商户名称已经存在！");
				hideLoading();
			}
		});
	} 
}

function editName(id) {
	showLoading();
	$.post([[@{/merchant/getMerchant}]], "id=" + id, function(r) {
		hideLoading();
		$('#editName').modal('show');
		$("#editNameTemplate").nextAll().remove();
		$("#editNameTemplate").parent().append(template("editNameTemplate", r));
	});
	
	action = function() {
		if (!$("#editNameForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/merchant/updateMerchant}]], $("#editNameForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#editName').modal('hide');
				queryPage(1);
				alertSuccess();
			}
			else if (r.result == 0) {
				alertWarning("商户名称已经存在！");
				hideLoading();
			}
		});
	}
}

function editAccount(id) {
	showLoading();
	$.post([[@{/merchant/getMerchantAccount}]], "id=" + id, function(r) {
		hideLoading();
		$('#editAccount').modal('show');
		$("#editAccountTemplate").nextAll().remove();
		$("#editAccountTemplate").parent().append(template("editAccountTemplate", r));
	});
	
	action = function() {
		if (!$("#editAccountForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/merchant/updateMerchantAccount}]], $("#editAccountForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#editAccount').modal('hide');
				queryPage(1);
				alertSuccess();
			}
			else if (r.result == 0) {
				alertWarning("商户帐号已经存在！");
				hideLoading();
			}
		});
	}
}

function editPassword(id) {
	showLoading();
	$.post([[@{/merchant/getMerchant}]], "id=" + id, function(r) {
		hideLoading();
		$('#editPassword').modal('show');
		$("#editPasswordTemplate").nextAll().remove();
		$("#editPasswordTemplate").parent().append(template("editPasswordTemplate", r));
	});
	
	action = function() {
		if (!$("#editPasswordForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/merchant/updateMerchantPassword}]], $("#editPasswordForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#editPassword').modal('hide');
				queryPage(1);
				alertSuccess();
			}
		});
	}
}

function remove(id) {
	var callback = function() {
		showLoading();
		$.post([[@{/merchant/deleteMerchant}]], "id=" + id, function(r) {
			if (r.result == 1) {
				queryPage(1);
			}
		});	
	}
	confirm("确定要删除" + id + "?", callback);
}
</script>
</head>

<body>
<div th:text="#{imgPath}" style="display: none"></div>
<div th:replace="common/fragment/common::pageList('商户管理')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="text" class="form-control input-sm" name="merchantName" placeholder="商户名称" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>商户ID</th>
		<th>商户名称</th> 
		<th>商户账号</th> 
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.merchantId}}</td>
		<td class="w-title-s">{{v.merchantName}}</td>
  		<td class="w-title-s">{{v.loginAccount}}</td>
		<td class="w-action">
			<a href="#" onclick="remove('{{v.merchantId}}')">[删除]</a>&nbsp;&nbsp;
			<a href="#" onclick="editName('{{v.merchantId}}')">[修改名称]</a>&nbsp;&nbsp;
			<a href="#" onclick="editAccount('{{v.merchantId}}')">[修改帐号]</a>&nbsp;&nbsp;
			<a href="#" onclick="editPassword('{{v.merchantId}}')">[修改密码]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 400)">
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>商户名称 ：</label>
		<div class="col-sm-7"><input type="text" name="merchantName" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>商户帐号：</label>
		<div class="col-sm-7"><input type="text" name="loginAccount" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>商户密码：</label>
		<div class="col-sm-7"><input type="password" name="loginPassword" class="form-control validate[required]" maxlength="32"></div>
	</div>
</div>

<div th:fragment="editName" th:replace="common/fragment/common::modal('editName', '修改商户名称', 400)">
	<script id="editNameTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-4 control-label">商户ID：</label>
		<div class="col-sm-6"><input type="text" name="merchantId" value="{{merchant.merchantId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>商户名称：</label>
		<div class="col-sm-6"><input type="text" name="merchantName" value="{{merchant.merchantName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	</script>
</div>

<div th:fragment="editAccount" th:replace="common/fragment/common::modal('editAccount', '修改商户账号', 400)">
	<script id="editAccountTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-4 control-label">商户ID：</label>
		<div class="col-sm-6"><input type="text" name="accountId" value="{{merchantAccount.accountId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>商户账号：</label>
		<div class="col-sm-6"><input type="text" name="loginAccount" value="{{merchantAccount.loginAccount}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	</script>
</div>

<div th:fragment="editPassword" th:replace="common/fragment/common::modal('editPassword', '修改商户密码', 400)">
	<script id="editPasswordTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-4 control-label">商户ID：</label>
		<div class="col-sm-6"><input type="text" name="merchantId" value="{{merchant.merchantId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">商户名称：</label>
		<div class="col-sm-6"><input type="text" value="{{merchant.merchantName}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>商户密码：</label>
		<div class="col-sm-6"><input type="text" name="merchantPassword" class="form-control validate[required]" maxlength="32"></div>
	</div>
	</script>
</div>



</body>
</html>

