<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	refreshData([[${listJson}]]);
});

function query() {
	showLoading();
	$.post([[@{/level/listLevelProdJson}]], $("#queryForm").serialize(), function(r) {
		refreshData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/level/insertLevelProd}]], $("#addForm").serialize(), function(r) {
			if (r.result == 0) {
				alertWarning("不存在prod");
				hideLoading();
			}
			else if (r.result == -1) {
				hideLoading();
				alertWarning("已经存在列表中");
			}
			else if (r.result == 1) {
				$('#add').modal('hide');
				query(1);
			}
		});
	}
}



function removeProd(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/level/deleteLevelProd}]], "levelId=" + $("#levelId").val() + "&id=" + id, function(r) {
			if (r.result == 1) {
				query();
			}
		});	
	}
	confirm(id, callback);
}


var move = {};
move.top = function(id) {
	$.post([[@{/level/prodTop}]], "id=" + id + "&levelId=" + $("#levelId").val(), function(r) {
		if (r.result == 1) {
			query();
		}
	});	
}
move.up = function(id) {
	$.post([[@{/level/prodUp}]], "id=" + id + "&levelId=" + $("#levelId").val(), function(r) {
		if (r.result == 1) {
			query();
		}
	});
}
move.down = function(id) {
	$.post([[@{/level/prodDown}]], "id=" + id + "&levelId=" + $("#levelId").val(), function(r) {
		if (r.result == 1) {
			query();
		}
	});
}

function storeChange() {
	query();
}



</script>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<form id="queryForm" class="form-inline">
			<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>test</span></div>
			<input type="hidden" id="levelId" name="levelId" th:value="${levelId}">
			<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		</form>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>SORT</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.prodId}}</td>
		<td class="w-title-s">{{v.prodTitle}}</td>
		<td class="w-action">
			{{if arrayList.length != 1 && i !== 0}}
			<a href="#" onclick="move.top({{v.prodId}})" title="置顶" class="glyphicon glyphicon-step-backward" style="transform: rotate(90deg);"></a>
			<a href="#" onclick="move.up({{v.prodId}})" title="上移" class="glyphicon glyphicon-arrow-up"></a>
			{{/if}}
			
			{{if arrayList.length != 1 && i != arrayList.length - 1}}
			<a href="#" onclick="move.down({{v.prodId}})" title="下移" class="glyphicon glyphicon-arrow-down"></a>
			{{/if}}					
		</td>
		<td class="w-action">
			<a href="#" onclick="removeProd({{v.prodId}})">[删除]</a>

		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 360)">
	<div class="form-group">
		<input type="hidden" name="levelId" th:value="${levelId}" >
		<label class="col-sm-3 control-label"><span class="required">*</span>id：</label>
		<div class="col-sm-7"><input type="text" name="prodId" class="form-control validate[required,custom[integer]]" maxlength="32"></div>
	</div>
</div>



</body>
</html>























