<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/prodPrio/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}



function edit(id) {
	$("#span" + id).hide();
	$("#input" + id).show();
	var text = $("#edit" + id).text();
	if (text == "[修改]") {
		$("#edit" + id).text("[保存]");
	}
	else {
		var prodPrio = $("#input" + id).val();
		if (prodPrio == "") {
			alertWarning("优先级不能为空");
			return;
		}
		showLoading();
		$.post([[@{/prodPrio/updateProdPrio}]], "prodId=" + id + "&prodPrio=" + prodPrio, function(r) {
			hideLoading();
			if (r.result == 1) {
				$("#span" + id).text(prodPrio);
				$("#input" + id).hide();
				$("#span" + id).show();
				$("#edit" + id).text("[修改]");
			}
		});
	}
}


</script>
</head>

<body>
<div th:text="#{imgPath}" style="display: none"></div>
<div th:replace="common/fragment/common::pageList('产品优先级')">
	<div th:fragment="queryFragment">
		<input type="text" class="form-control input-sm" name="prodId" placeholder="请输入产品ID" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
		<span class="hint">优先级数字小的排在搜索结果前面</span>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>产品ID</th>
		<th>产品标题</th>
		<th data-order-name="PROD_PRIO">优先级</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.prodId}}</td>
		<td class="w-title-s">{{v.prodTitle}}</td>
		<td class="w-number">
			<span id="span{{v.prodId}}">{{v.prodPrio}}</span>
			<input id="input{{v.prodId}}" type="text" value="{{v.prodPrio}}" class="form-control" maxlength="6" style="padding:0;margin:0;display:none" onkeyup="this.value=this.value.replace(/\D/g,'')"></td>
		<td class="w-action">
			<a id="edit{{v.prodId}}" href="#this" onclick="edit('{{v.prodId}}')">[修改]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 360)">
	<div class="form-group">
		<label class="col-sm-3 control-label">ID：</label>
		<div class="col-sm-7"><input type="text" name="testId" value="{{testBean.testId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="testName" value="{{testBean.testName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
</div>

</body>
</html>

