<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::treeview"/>

<script type="text/javascript" th:src="@{/static/module/grant/grant.js}"></script>

<style>
.glyphicon-folder-close {color:rgb(242, 221, 122)}
.glyphicon-th-list {color:black;}
.glyphicon-wrench {color:green}
#service li a {height:27px;padding:4px 15px;margin:0px;}
#service .glyphicon {width:10px;}
#uri .list-group-item {background-color: #428bca;}
#tree .list-group-item, #uri .list-group-item {padding-top:4px;height:30px;}
.indeterminate {color:blue;}
</style>

<script th:inline="javascript">
contextPath = contextPath + "child/";
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/child/listChildAccount}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}


</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('子账号权限')">
<div th:fragment="queryFragment">
	<label>子帐号ID:</label>	
	<input type="text" class="form-control input-sm" name="accountId" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
	<label>子帐号:</label>		
	<input type="text" class="form-control input-sm" name="loginAccount" >			
	<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>		
</div>

<table th:fragment="listFragment">
<tr>
	<th>子帐号ID</th>
	<th>子帐号</th>
	<th>操作</th>                
</tr>
<script id="pageTemplate" type="text/html">
{{each arrayList as v i}}
<tr>
  <td>{{v.accountId}}</td>
  <td>{{v.loginAccount}}</td>
  <td><a href="#" onclick="grant('{{v.accountId}}', '{{v.loginAccount}}')">授权</a></td>
</tr>
{{/each}}
</script>
</table>
</div>

<div class="modal fade" id="grantModal" role="dialog" tabindex="-1">
<div class="modal-dialog" style="width:500px;">
<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
		<h4 class="modal-title">授权(子帐号：<span id="grantViewName"></span>)<input type="hidden" id="grantAccountId"></h4>
	</div>
      	<div class="modal-body" style="width:100%;height:400px;overflow:auto;float:left;padding-top:4px">
		<div id="tree" style="float:left"></div>
	</div>   
	<div class="modal-footer">
		<span style="float:left">
			<span class="glyphicon glyphicon-folder-close"></span>:<span id="viewFolderN">0</span>
			<span class="glyphicon glyphicon-th-list"></span>:<span id="viewMenuN">0</span>
			<span class="glyphicon glyphicon-wrench"></span>:<span id="viewActionN">0</span>
       	</span>
       	<button type="button" class="btn btn-success" onclick="authorize()">确定</button>
       	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	</div>
</div>
</div>
</div>

</body>
</html>

