<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">
function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	if ($("#storeId").val() != null) {
		query();
	}
});

function query() {
	showLoading();
	$.post([[@{/swiper/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	// 清除图片
	$(".imgTr").find(".uploadAction").hide();
	$(".imgTd").remove();
	
	$("#addStoreId").val($("#storeId").val());
	$('#add').modal('show');
	
	action = function() {
		// swiperUrl swiperImg
		var url = $("#swiperUrl").val();
		var src = $("#swiperImg").val();
		if (url == "") {
			alertWarning("url不能为空");
			return;
		}
		if (src == "") {
			alertWarning("src不能为空");
			return;
		}
		if (src.indexOf("http") != 0) {
			alertWarning("src必须以http开头");
			return;
		}
			
		showLoading();
		$.post([[@{/swiper/insertSwiper}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				query(1);
			}
		});
	}
}

function remove(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/swiper/deleteSwiper}]], "id=" + id, function(r) {
			if (r.result == 1) {query();}
		});	
	}
	confirm(id, callback);
}

var move = {};
move.top = function(id) {
	$.post([[@{/swiper/top}]], "id=" + id + "&storeId=" + $("#storeId").val(), function(r) {
		if (r.result == 1) {query();}
	});	
}
move.up = function(id) {
	$.post([[@{/swiper/up}]], "id=" + id + "&storeId=" + $("#storeId").val(), function(r) {
		if (r.result == 1) {query();}
	});
}
move.down = function(id) {
	$.post([[@{/swiper/down}]], "id=" + id + "&storeId=" + $("#storeId").val(), function(r) {
		if (r.result == 1) {query();}
	});
}

function storeChange() {
	query();
}

//>>>>>>>>>>>>>>>>>>>img>>>>>>>>>>>>>>>>>>>>>>>>>>>>
var img = {};
img.zIndex = 1000;
img.click = function(obj) {
	var initWidth = new Number($(obj).data("data-init-width"));
	var initHeight = new Number($(obj).data("data-init-height"));
	
	if (obj.height == 80) {
		$(obj).css({position:"fixed",left:$(obj).offset().left,top:$(obj).offset().top});
		$(obj).css({zIndex:++img.zIndex,width:initWidth,height:initHeight});
	}
	else {
		$(obj).css({position:"",zIndex:1000,width:80*initWidth/initHeight,height:80});
	}
}
img.html = '<td class="imgTd"><table><tr><td rowspan="2"><img onload="img.resize(this)"/></td>\
	<td class="glyphicon glyphicon-remove-circle" onclick="img.remove(this)"></td></tr></table></td>';
img.fileChange = function(obj) {
	this.loadImg(obj.files, obj.files.length, $(obj).parent().parent());
	
	// 重新生成一个，防止在图片被删除时onchange不生效
	$(obj).prop("outerHTML", $(obj).prop("outerHTML"));
}
img.loadImg = function(f, n, imgTr) {
	n--;
	
	// data-max-size默认为1M,maxLength默认为1
	var maxSize =  $(imgTr).find("input").attr("data-max-size");
	maxSize = !maxSize ? 1024*1024 : new Number(maxSize);
	
	if (f[n].size > maxSize) {
		var max = maxSize >= 1024*1024 ? (maxSize/1024/1024).toFixed(1) + "M" : (maxSize/1024).toFixed(1) + "K";
		return alertWarning("不能大于" + max);
	}
	
	// 删除之前的
	imgTr.find(".imgTd").remove();
	
	var td = $(this.html);
	td.appendTo(imgTr);
	var reader = new FileReader();
	reader.onload = function(e) {
		var imgObj = td.find("img");
		imgObj.prop("src", this.result);
		imgObj.data("file", f[n]);
		if (n > 0) img.loadImg(f, n, imgTr);
	}
	reader.readAsDataURL(f[n]);
	
	imgTr.find(".uploadAction").show();	
}
img.resize = function(img) {
	var initWidth = img.width;
	var intiHeight = img.height;
	$(img).data("data-init-width", initWidth);
	$(img).data("data-init-height", intiHeight);
	$(img).css({width:80 * initWidth / intiHeight, height:80});
	
	$(img).show();
	$(img).nextAll().remove();
	$(img).after("<span>" + initWidth + "x" + intiHeight + "</span>");

}
img.remove = function(obj) {
	$(obj).parents(".imgTr").find(".uploadAction").hide();
	$(obj).parents(".imgTd").remove();
}


function upload(obj) {
	var file = $(obj).parents(".imgTr").find("img").data("file");
	var formData = new FormData();
	formData.append("file", file);
	formData.append("type", "swiper");
	
	showLoading();
	$.ajax({url:[[#{imgUrl}]] + '../imgUpload/showSave', type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			if (r.arrayList && r.arrayList.length == 1) {
				var url = [[#{imgUrl}]] + r.arrayList[0];
				$("#swiperImg").val(url);
				hideLoading();
				alertWarning("上传图片成功");
			} 
		}
	});
}

</script>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<form id="queryForm" class="form-inline">
			<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>首页轮播</span></div>
			<select class="form-control input-sm" id="storeId" name="storeId" onchange="storeChange(this)">
				<option th:value="${item.storeId}" th:text="${item.storeName}" th:each="item:${storeList}"></option>
			</select>
			<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		</form>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>轮播ID</th>
		<th>图片</th>
		<th>URL</th>
		<th>排序</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.swiperId}}</td>
		<td class="w-title-s">
			<div style="height:80px;overflow:hidden">
				<img style="display:none" src="{{v.swiperImg}}" onload="img.resize(this)" onclick="img.click(this)">
			</div>
		</td>
		<td class="w-title-s">{{v.swiperUrl}}</td>
		<td class="w-action">
			{{if arrayList.length != 1 && i !== 0}}
			<a href="#" onclick="move.top({{v.swiperId}})" title="置顶" class="glyphicon glyphicon-step-backward" style="transform: rotate(90deg);"></a>
			<a href="#" onclick="move.up({{v.swiperId}})" title="上移" class="glyphicon glyphicon-arrow-up"></a>
			{{/if}}
			
			{{if arrayList.length != 1 && i != arrayList.length - 1}}
			<a href="#" onclick="move.down({{v.swiperId}})" title="下移" class="glyphicon glyphicon-arrow-down"></a>
			{{/if}}					
		</td>
		<td class="w-action">
			<a href="#" onclick="remove({{v.swiperId}})">[删除]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 660)">
	<div class="form-group">
		<input type="hidden" id="addStoreId" name="storeId">
		<label class="col-sm-2 control-label"><span class="required">*</span>URL：</label>
		<div class="col-sm-8"><input type="text" id="swiperUrl" name="swiperUrl" class="form-control" maxlength="128" style="width:500px"></div>
	</div>
	
	<div class="form-group">
		<input type="hidden" id="addStoreId" name="storeId">
		<label class="col-sm-2 control-label"><span class="required">*</span>图片地址：</label>
		<div class="col-sm-8"><input type="text" id="swiperImg" name="swiperImg" class="form-control" maxlength="128" style="width:500px"></div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">上传图片：</label>
		<div class="col-sm-8">
		<table border="1" style="border-color:#DDDDDD;height:84px;">
		<tr class="imgTr">
		<td>
			<input type="file" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
			<a href="#" onclick="$(this).prev().click()">[+]</a>
			<a href="#" style="display:none" class="uploadAction" onclick="upload(this)">上传</a>
		</td>
		</table>
		</div>
	</div>
</div>

</body>
</html>























