<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

function query() {
	showLoading();
	$.post([[@{/theme/listJson}]], "status=" + $("[name=status]:checked").val(), function(r) {
		refreshData(r);
		refreshThemeImg();
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/theme/insertTheme}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				query(1);
			}
		});
	}
}

function edit(id, x, y) {
	showLoading();
	$.post([[@{/theme/getTheme}]], "id=" + id, function(r) {
		hideLoading();
		$("#editTemplate").nextAll().remove();
		$("#editTemplate").parent().append(template("editTemplate", r));
		
		$("#editThemeImgX option[value=" + x + "]").attr("selected", true);
		$("#editThemeImgY option[value=" + y + "]").attr("selected", true);
		editImgChange();
		refreshThemeImg();
		
		$('#edit').modal('show');
	});
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/theme/updateTheme}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				query();
			}
		});
	}
}

function remove(id) {
	var callback = function() {
		showLoading();
		$.post([[@{/theme/deleteTheme}]], "id=" + id, function(r) {
			if (r.result == 1) {
				query();
			}
		});	
	}
	confirm(id, callback);
}

function restore(id) {
	var callback = function() {
		showLoading();
		$.post([[@{/theme/restoreTheme}]], "id=" + id, function(r) {
			if (r.result == 1) {
				query();
			}
		});	
	}
	confirm("是不是要恢复" + id, callback);
}


var move = {};
move.top = function(id) {
	$.post([[@{/theme/top}]], "id=" + id, function(r) {
		if (r.result == 1) {
			query();
		}
	});	
}
move.up = function(id) {
	$.post([[@{/theme/up}]], "id=" + id, function(r) {
		if (r.result == 1) {
			query();
		}
	});
}
move.down = function(id) {
	$.post([[@{/theme/down}]], "id=" + id, function(r) {
		if (r.result == 1) {
			query();
		}
	});
}

function themeProduct(themeId) {
	open(contextPath + 'theme/themeProduct?themeId=' + themeId);
}

function addImgChange() {
	var x = new Number($("#addThemeImgX").val());
	var y = new Number($("#addThemeImgY").val());
	$("#addThemeImg").css("background-position", "-" + 100*x + "px -" + 100*y +"px")
}

function editImgChange() {
	var x = new Number($("#editThemeImgX").val());
	var y = new Number($("#editThemeImgY").val());
	$("#editThemeImg").css("background-position", "-" + 100*x + "px -" + 100*y +"px")
}


$(function() {
	refreshData([[${listJson}]]);
	refreshThemeImg();
});

function refreshThemeImg() {
	var href = location.href.split("/");
	var blankImg = "url(" + href[0] + "//" + href[2] + contextPath + "static/img/blank.png)";
	$(".themeImgUrl").css("background-image", [[${imgSrc}]] == '-1' ? blankImg : "url(" + [[${imgSrc}]] + ")");
}

</script>
<style th:inline="text">
.themeImgList {background-size:250px 250px;width:50px;height:50px;margin:0 auto;}
.themeImg {width:100px;height:100px;margin:0 auto;}
</style>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>专题管理</span></div>
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="radio" onchange="query()" value="1" name="status" id="normal" style="vertical-align:sub;width:25px" checked="checked"><label class="control-label" for="normal">正常</label>
		<input type="radio" onchange="query()" value="" name="status" id="all" style="vertical-align:sub;width:25px"><label class="control-label" for="all">全部</label>
		
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>专题ID</th>
		<th>专题名称</th>
		<th>排序</th>
		<th>图片</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr {{if v.recordStatus == 0}}style="color:#CCCCCC"{{/if}}>
		<td class="w-id">{{v.themeId}}</td>
		<td class="w-title-s">{{v.themeName}}</td>
		<td class="w-id"><div class="themeImgUrl themeImgList" style="background-position: -{{v.themeImgX * 50}}px -{{v.themeImgY * 50}}px;"></div></td>
		<td class="w-action">
			{{if arrayList.length != 1 && i !== 0 && v.recordStatus == 1}}
			<a href="#" onclick="move.top({{v.themeId}})" title="置顶" class="glyphicon glyphicon-step-backward" style="transform: rotate(90deg);"></a>
			<a href="#" onclick="move.up({{v.themeId}})" title="上移" class="glyphicon glyphicon-arrow-up"></a>
			{{/if}}
			
			{{if arrayList.length != 1 && i != arrayList.length - 1 && v.recordStatus == 1}}
			<a href="#" onclick="move.down({{v.themeId}})" title="下移" class="glyphicon glyphicon-arrow-down"></a>
			{{/if}}					
		</td>
		<td class="w-id">{{if v.recordStatus == 1}}正常{{else}}删除{{/if}}</td>
		<td class="w-action">
		{{if v.recordStatus == 1}}
			<a href="#" onclick="remove({{v.themeId}})">[删除]</a>&nbsp;&nbsp;
			<a href="#" onclick="edit({{v.themeId}}, {{v.themeImgX}}, {{v.themeImgY}})">[修改]</a>&nbsp;&nbsp;
			<a href="#" onclick="themeProduct({{v.themeId}})">[专题产品]</a>
		{{else}}
			<a href="#" onclick="restore({{v.themeId}})">[恢复]</a>
		{{/if}}	
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 420)">
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>专题名称：</label>
		<div class="col-sm-6"><input type="text" name="themeName" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标X：</label>
		<div class="col-sm-6">
			<select class="form-control" id="addThemeImgX" name="themeImgX" onchange="addImgChange()">
				<option th:each="item:${listImgX}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标Y：</label>
		<div class="col-sm-6">
			<select class="form-control" id="addThemeImgY" name="themeImgY" onchange="addImgChange()">
				<option th:each="item:${listImgY}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="themeImgUrl themeImg" id="addThemeImg"></div>
	</div>
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 420)">
	<script id="editTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-4 control-label">ID：</label>
		<div class="col-sm-6"><input type="text" name="themeId" value="{{theme.themeId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>专题名称：</label>
		<div class="col-sm-6"><input type="text" name="themeName" value="{{theme.themeName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标X：</label>
		<div class="col-sm-6">
			<select class="form-control" id="editThemeImgX" name="themeImgX" onchange="editImgChange()">
				<option th:each="item:${listImgX}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>座标Y：</label>
		<div class="col-sm-6">
			<select class="form-control" id="editThemeImgY" name="themeImgY" onchange="editImgChange()">
				<option th:each="item:${listImgY}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="themeImgUrl themeImg" id="editThemeImg"></div>
	</div>
	</script>
</div>

</body>
</html>




