<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>
<link th:replace="common/fragment/common::date"/>


<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/program/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	initPolicyArgs();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		
		//
		var para = "progName=" + $("#progName").val() + "&progPrio=" + $("#progPrio").val() + "&progBegin=" + $("#progBegin").val()
			 + "&progEnd=" + $("#progEnd").val() + "&policyType=" + $("#policyType").val() + "&policyArgs=" + getPolicyArgs($("#policyType").val());
		
		
		showLoading();
		$.post([[@{/program/insertProgram}]], para, function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				queryPage(1);
			}
		});
	}
}

function edit(id) {
	showLoading();
	$.post([[@{/program/getProgram}]], "id=" + id, function(r) {
		hideLoading();
		$('#edit').modal('show');
		$("#editTemplate").nextAll().remove();
		$("#editTemplate").parent().append(template("editTemplate", r));
	});
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/program/updateProgram}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				queryPage(1);
			}
		});
	}
}

function remove(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/program/deleteProgram}]], "id=" + id, function(r) {
			if (r.result == 1) {
				queryPage(1);
			}
		});	
	}
	confirm(id, callback);
}


template.helper('getPolicyTypeName', function(policyType) {
	return $("#queryPolicyType [value=" + policyType + "]").text();
})

function conf(progId, policyType) {
	open(contextPath + 'programConf/promo' + policyType + "?progId=" + progId);
}

function initPolicyArgs() {
	$("#argType").hide();
	$("#argType select").hide();
	$(".policy").hide();
	$("#ChangePolicy").hide();
}

function policyTypeChange(obj) {
	initPolicyArgs();
	
	
	var policy = $("#" + $(obj).val() + "Policy");
	if ($(obj).val() == "Change") {
		policy.show();
	}
	else if (policy.length == 1) {
		policy.find("option:eq(0)").attr("selected", true);
		$("#argType").show();
		policy.show();
		$("[id='%:d']").show();
	}
}




function start(progId, obj) {
	showLoading();
	$.post([[@{/program/start}]], "progId=" + progId, function(r) {
		hideLoading();
		if (r.string == -1) {
			alertWarning("状态已被更改，请刷新页面");
		}
		else {
			alertSuccess();
			$(obj).parent().html(getStatusDescByStr(r.string));
		}
	});
}

function pause(progId, obj) {
	showLoading();
	$.post([[@{/program/pause}]], "progId=" + progId, function(r) {
		hideLoading();
		if (r.string == -1) {
			alertWarning("状态已被更改，请刷新页面");
		}
		else {
			alertSuccess();
			$(obj).parent().html(getStatusDescByStr(r.string));
		}
	});
}

function stop(progId, obj) {
	showLoading();
	$.post([[@{/program/stop}]], "progId=" + progId, function(r) {
		hideLoading();
		if (r.string == -1) {
			alertWarning("状态已被更改，请刷新页面");
		}
		else {
			alertSuccess();
			$(obj).parent().html(getStatusDescByStr(r.string));
		}
	});
}

template.config("escape", false);
template.helper('getStatusDesc', function(progId, recordStatus, recordStatusDesc) {
	return getStatusDesc(progId, recordStatus, recordStatusDesc);
})

function getStatusDesc(progId, recordStatus, recordStatusDesc) {
	var start = '<a href="#" onclick="start(' + progId + ', this)">[启动]</a>';
	var pause = '<a href="#" onclick="pause(' + progId + ', this)">[暂停]</a>';
	var stop = '<a href="#" onclick="stop(' + progId + ', this)">[停止]</a>';
	
	if (recordStatus == 1) return recordStatusDesc + start;
	if (recordStatus == 2) return recordStatusDesc + pause + stop;
	if (recordStatus == 3) return recordStatusDesc + start;
	if (recordStatus == 4) return recordStatusDesc + start;
}

function getStatusDescByStr(string) {
	var s = string.split(",");
	return getStatusDesc(s[0], s[1], s[2]);
}










































</script>
</head>

<body>

<div th:replace="common/fragment/common::pageList('DEMO')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		
		<div class="input-group input-group-sm">
			<span class="input-group-addon">type</span>	
			<select class="form-control" id="queryPolicyType" name="policyType">
				<option value="">全部</option>
				<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listPolicy}"></option>
			</select>
		</div>
		
		
		<input type="text" class="form-control input-sm" name="progName" placeholder="请输入NAME" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>DATE1</th>
		<th>DATE2</th>
		<th>PRIO</th>
		<th>TYPE</th>
		<th>args</th>
		<th>TIME</th>
		<th>STATUS</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.progId}}</td>
		<td class="w-title-m">{{v.progName}}</td>
		<td class="w-date">{{v.progBegin}}</td>
		<td class="w-date">{{v.progEndDesc}}</td>
		<td class="w-id">{{v.progPrio}}</td>
		<td class="w-id">{{getPolicyTypeName(v.policyType)}}</td>
		<td class="w-id">{{v.policyArgs}}</td>
		<td class="w-time">{{v.created}}</td>
		<td class="w-action">{{getStatusDesc(v.progId, v.recordStatus, v.recordStatusDesc)}}</td>
		<td class="w-action-m">
			<a href="#" onclick="remove({{v.progId}})">[删除]</a>&nbsp;&nbsp;
			<a href="#" onclick="edit({{v.progId}})">[修改]</a>&nbsp;&nbsp;
			<a href="#" onclick="conf({{v.progId}}, '{{v.policyType}}')">[配置]</a>

		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 760)">
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-4"><input type="text" id="progName" class="form-control validate[required]" maxlength="32"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>PRIO：</label>
		<div class="col-sm-4"><input type="text" id="progPrio" class="form-control validate[required,custom[integer]]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>begin：</label>
		<div class="col-sm-4"><input type="text" id="progBegin" th:value="${today}" class="form-control validate[required]" onclick="WdatePicker()"></div>
		<label class="col-sm-2 control-label"><span class="required"></span>end：</label>
		<div class="col-sm-4"><input type="text" id="progEnd" class="form-control" onclick="WdatePicker()" placeholder="空表示没有结束"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>poli：</label>
		<div class="col-sm-8">
		<select class="form-control validate[required]" id="policyType" onchange="policyTypeChange(this)">
			<option value="">请选择</option>
			<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listPolicy}"></option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required" >*</span>poli_args：</label>
		<div class="col-sm-8 form-inline" th:include="store/promo/common/promoCommon::policyArgs"></div>
	</div>	
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 360)">
	<script id="editTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-3 control-label">ID：</label>
		<div class="col-sm-7"><input type="text" name="progId" value="{{program.progId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="progName" value="{{program.progName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	</script>
</div>




</body>
</html>

