<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	
});

</script>



</head>

<body>


<select class="form-control">
	<option th:value="${item.catId}" th:text="${item.catName}" th:each="item:${listCat}"></option>
</select>

<select class="form-control">
	<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listCatPolicy}"></option>
</select>

</body>
</html>

