<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>
<link th:replace="common/fragment/common::import"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/programConf/listProgramSpecial}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		var r = validate();
		if (r == false) {
			return;
		}
		
		showLoading();
		$.post([[@{/programConf/insertProgramSpecial}]], "progId=" + $("#progId").val() + "&" + r, function(r) {
			
			if (r.string.indexOf("ok") == 0) {
				alertSuccess(r.string);
				$('#add').modal('hide');
				queryPage(1);
			}
			else {
				hideLoading();
				var h = r.string.split(",");
				$("#hint").empty();
				var hintHtml = "";
				h.forEach(function(v) {
					var d = v.split(":")[0] + ":";
					if (v.split(":")[1] == 1) {
						d += "无效的产品ID";
					}
					else if (v.split(":")[1] == 2) {
						d += "产品ID已经存在";
					}
					else if (v.split(":")[1] == 3) {
						d += "无效的产品ID+产品ID已经存在";
					}
					$("#hint").append('<div style="white-space:nowrap"><a href="javascript:imp.gotoRownum(' + v.split(":")[0] + ')">' + d + '</a></div>');
				})
			}
		});
	}
}


function remove(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/programConf/deleteProgramSpecial}]], "progId=" + $("#progId").val() + "&prodId=" + id, function(r) {
			if (r.result == 1) {
				queryPage(1);
			}
		});	
	}
	confirm(id, callback);
}


function validate() {
	// rule.integer.regex
	// rule.number.regex
	var rule = $.validationEngineLanguage.allRules;

	
	$("#hint").empty();
	var validationResult = [];
	
	
	var prodIdArray = [];
	var specialPriceArray = [];
	
	var content = $.trim($("#content").val());
	var lineContent = content.split("\n");
	
	var dupliateId = {};
	for (var i = 0; i < lineContent.length; i++) {
		var lineStr = $.trim(lineContent[i]);
		if (lineStr == "") {
			validationResult.push((i + 1) + ":empty");
		}
		else {
			var v = lineStr.split("|")
			if (v.length != 2) {
				validationResult.push((i + 1) + ":|不对");
				continue;
			}
			
			var id = $.trim(v[0]);
			var price = $.trim(v[1]);
			if (id == "" || price == "") {
				validationResult.push((i + 1) + ":empty");
			}
			else if (!rule.integer.regex.test(id)) {
				validationResult.push((i + 1) + ":not integer");
			}
			else if (!rule.number.regex.test(price)) {
				validationResult.push((i + 1) + ":not number");
			}
			else if (dupliateId[id]) {
				validationResult.push((i + 1) + ":dupliateId:" + dupliateId[id]);
			}
			dupliateId[id] = i + 1;
			
			prodIdArray.push(id);
			specialPriceArray.push(price);
		}
	}
		
	if (validationResult.length == 0) {
		var para = "prodIdStr=" + prodIdArray.join(",") + "&specialPriceStr=" + specialPriceArray.join(",");
		return para;
	}
	else {
		var hintHtml = "";
		validationResult.forEach(function(v) {
			$("#hint").append('<div style="white-space:nowrap"><a href="javascript:imp.gotoRownum(' + v.split(":")[0] + ')">' + v + '</a></div>');
		})
		
		return false;
	}		
}
</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('特价商品')">
	<div th:fragment="queryFragment">
		<input type="hidden" id="progId" name="progId" th:value="${prog.progId}">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="text" class="form-control input-sm" name="prodId" placeholder="请输入商品ID" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
		
		<label>方案名称：<span th:text="${prog.progName}"></span>(<span th:text="${#dates.format(prog.progBegin, 'yyyy-MM-dd')} + '至' + ${prog.progEndDesc}"></span>)</label>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>商品ID</th>
		<th>商品标题</th>
		<th>特价</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.prodId}}</td>
		<td class="w-title-m">{{v.prodTitle}}</td>
		<td class="w-number">{{v.specialPrice}}</td>
		<td class="w-action">
			<a href="#" onclick="remove('{{v.prodId}}')">[删除]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 600)">
	
		<table style="margin-left:30px">
		<tr>
			<td>行号</td>
			<td>内容:产品ID|特价(允许有空格)</td>
			<td>提示(点击跳到指定行)</td>
		</tr>
		<tr>
			<td style="text-align: right">
				<input type="hidden" id="areaObj">
				<textarea id="rownum" rows="15" cols="10" wrap="off" class="form-control" onscroll="imp.rownumScroll(this)" style="overflow-y:hidden;width:50px;resize:none;border:1px solid white;text-align: right" readonly="readonly">1</textarea>
			</td>
			<td>
				<textarea id="content" rows="15" cols="30" wrap="off" class="form-control" onscroll="imp.areaScroll(this)" style="resize: none;" onpaste="imp.areaPaste(this)" onkeyup="imp.areakeyup(this)">1212|112</textarea>
			</td>
			<td >
				<div id="hint" style="height:330px;width:200px;overflow-y:scroll;"></div>
			</td>
		</tr>
		</table>
	
</div>


</body>
</html>

