<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">

function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	refreshData([[${listJson}]]);
});

function query() {
	showLoading();
	$.post([[@{'/programConf/listProgramCat?progId=' + ${progId}}]], null, function(r) {
		refreshData(r);
		hideLoading();
	});
}




function addProgramCat() {
	var catPolicy = $("#catPolicy").val();
	if ($("#catPolicy").val() == "%:d") {
		catPolicy = catPolicy.replace("d", $("#discount").val());
	}
	else if ($("#catPolicy").val() == "E:y,-:y") {
		$('#addForm').validationEngine('attach', {promptPosition: 'bottomLeft'});
		if (!$("#addForm").validationEngine('validate')) return;
		
		catPolicy = catPolicy.replace("E:y", "E:" + $("#enough").val()).replace("-:y", "-:" + $("#minus").val());
	}
	catPolicy = encodeURIComponent(catPolicy);
	
	var para = "progId=" + $("#progId").val() + "&catId=" + $("#catId").val() + "&catPolicy=" + catPolicy;
	
	showLoading();
	$.post([[@{/programConf/insertProgramCategory}]], para, function(r) {
		if (r.result == 1) {
			query();
		}
		else if (r.result == 0) {
			alertWarning("类目、父类或子类已经存在，添加失败！");
			hideLoading();
		}
	});
}

template.helper('getCatName', function(catId) {
	return $("#catId [value=" + catId + "]").text();
})

function remove(progId, catId) {
	
	var callback = function () {
		showLoading();
		$.post([[@{/programConf/deleteProgramCategory}]], "progId=" + progId + "&catId=" + catId, function(r) {
			if (r.result == 1) {
				query();
			}
		});
	}
	confirm(progId, callback);
}


function policyChange(obj) {
	if (obj.value == "%:d") {
		$("#discountSpan").show();
		$("#enoughSpan").hide();
	}
	else if (obj.value == "E:y,-:y") {
		$("#discountSpan").hide();
		$("#enoughSpan").show();
	}
}

function validateMax() {
	var enough = $("#enough").val();
	var minus = $("#minus").val();
	if (minus >= enough) {
		return "minus必须小于enough";
	}
}

</script>


<style>
</style>

</head>


<body>


<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>test</span></div>
		<form id="addForm" class="form-inline">
		<div>
		<input type="hidden" id="progId" th:value="${progId}">
		<div class="input-group">
			<span class="input-group-addon">CAT</span>	
			<select class="form-control" id="catId">
				<option th:value="${item.catId}" th:text="${item.catName}" th:each="item:${listCat}"></option>
			</select>
		</div>
	
		<div class="input-group">
			<span class="input-group-addon">type</span>	
			<select class="form-control" onchange="policyChange(this)" id="catPolicy">
				<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listCatPolicy}"></option>
			</select>
		</div>
		
		
		
		<div id="discountSpan" class="input-group">
			<span class="input-group-addon">disc</span>	
			<select class="form-control" id="discount" th:include="store/promo/common/promoCommon::discount"></select>
		</div>
		
		<div id="enoughSpan" style="display:none"class="input-group">
			<span class="input-group-addon">E</span>
			<input class="form-control validate[required,custom[number]]" id="enough" type="text" style="width:70px" maxlength="5">
			<span class="input-group-addon">-</span>
			<input class="form-control validate[required,custom[number,funcCall[validateMax]]]" id="minus" type="text" style="width:70px" maxlength="5">
		</div>
		
		
		<button type="button" class="btn btn-success" onclick="addProgramCat()">新增</button>
		</div>
		</form>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>CAT</th>
		<th>POLI</th>
		<th>ACTION</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{getCatName(v.catId)}}</td>
		<td class="w-title-s">{{v.catPolicy}}</td>
		<td class="w-action">
			<a href="#" onclick="remove({{v.progId}}, {{v.catId}})">[删除]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

