<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">

function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	refreshData([[${listJson}]]);
});

function query() {
	showLoading();
	$.post([[@{'/programConf/listProgramBrand?progId=' + ${progId}}]], null, function(r) {
		refreshData(r);
		hideLoading();
	});
}




function addProgramBrand() {
	
	var para = "progId=" + $("#progId").val() + "&brandId=" + $("#brandId").val();
	
	showLoading();
	$.post([[@{/programConf/insertProgramBrand}]], para, function(r) {
		if (r.result == 1) {
			query();
		}
		else if (r.result == 0) {
			alertWarning("类目、父类或子类已经存在，添加失败！");
			hideLoading();
		}
	});
}

template.helper('getBrandName', function(brandId) {
	return $("#brandId [value=" + brandId + "]").text();
})

function remove(progId, brandId) {
	
	var callback = function () {
		showLoading();
		$.post([[@{/programConf/deleteProgramBrand}]], "progId=" + progId + "&brandId=" + brandId, function(r) {
			if (r.result == 1) {
				query();
			}
		});
	}
	confirm(progId, callback);
}



</script>


<style>
</style>

</head>


<body>


<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>test</span></div>
		<form id="addForm" class="form-inline">
		<div>
		<input type="hidden" id="progId" th:value="${progId}">
		<div class="input-group">
			<span class="input-group-addon">BRA</span>	
			<select class="form-control" id="brandId">
				<option th:value="${item.brandId}" th:text="${item.brandName}" th:each="item:${listBrand}"></option>
			</select>
		</div>
	
		
		<button type="button" class="btn btn-success" onclick="addProgramBrand()">新增</button>
		</div>
		</form>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>BRA</th>
		<th>NAME</th>
		<th>ACTION</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{getBrandName(v.brandId)}}</td>
		<td class="w-title-s">NAME</td>
		<td class="w-action">
			<a href="#" onclick="remove({{v.progId}}, {{v.brandId}})">[删除]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

