<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">

function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	refreshData([[${listJson}]]);
});

function query() {
	showLoading();
	$.post([[@{'/programConf/listProgramSubject?progId=' + ${progId}}]], null, function(r) {
		refreshData(r);
		hideLoading();
	});
}

function addProgramSubject() {
	
	$('#addForm').validationEngine('attach', {promptPosition: 'bottomLeft'});
	if (!$("#addForm").validationEngine('validate')) return;

	
	var resultPolicy = [];
	var subjectPolicy = $("#subjectPolicy").val();
	var policyArray = subjectPolicy.split(",");
	for (var i = 0; i < policyArray.length; i++) {
		var pre = policyArray[i].split(":")[0] + ":";
		var v = $("[id='" + subjectPolicy + "']").find("[name='" + policyArray[i] + "']").val();
		resultPolicy.push(pre + policyArray[i].replace(policyArray[i], v));
	}

	//alert("resultPolicy:" + resultPolicy);
	//return;
	
	//var para = "progId=" + $("#progId").val() + "&subjectId=" + $("#subjectId").val() + "&subjectPolicy=" + encodeURI(resultPolicy);
	
	var para = {progId:$("#progId").val(), subjectId:$("#subjectId").val(), subjectPolicy:encodeURIComponent(resultPolicy)};
	
	showLoading();
	$.post([[@{/programConf/insertProgramSubject}]], para, function(r) {
		if (r.result == 1) {
			query();
		}
		else if (r.result == 0) {
			alertWarning("主题已经存在，添加失败！");
			hideLoading();
		}
	});
}

template.helper('getSubjectName', function(subjectId) {
	return $("#subjectId [value=" + subjectId + "]").text();
})

function remove(progId, subjectId) {
	var callback = function () {
		showLoading();
		$.post([[@{/programConf/deleteProgramSubject}]], "progId=" + progId + "&subjectId=" + subjectId, function(r) {
			if (r.result == 1) {
				query();
			}
		});
	}
	confirm(progId, callback);
}


function policyChange(obj) {
	$(".policy").hide();
	$("[id='" + obj.value + "']").show();
}

function validateMax() {
	var enough = $("[id='E:y,-:y'] [name='E:y']").val();
	var minus = $("[id='E:y,-:y'] [name='-:y']").val();
	if (minus >= enough) {
		return "minus必须小于enough";
	}
}

</script>


<style>
</style>

</head>


<body>

<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>test</span></div>
		<form id="addForm" class="form-inline">
		<div>
		<input type="hidden" id="progId" th:value="${progId}">
		<div class="input-group">
			<span class="input-group-addon">Sub</span>	
			<select class="form-control" id="subjectId">
				<option th:value="${item.subjectId}" th:text="${item.subjectName}" th:each="item:${listSubject}"></option>
			</select>
		</div>
	
		<div class="input-group">
			<span class="input-group-addon">type</span>	
			<select class="form-control" onchange="policyChange(this)" id="subjectPolicy">
				<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listSubjectPolicy}"></option>
			</select>
		</div>
		
		<div id="A:y" class="input-group policy">
			<span class="input-group-addon">avg</span>	
			<select class="form-control" th:include="store/promo/common/promoCommon::avg" name="A:y"></select>
		</div>	
		<div id="%:d" style="display:none" class="input-group policy">
			<span class="input-group-addon">disc</span>	
			<select class="form-control" th:include="store/promo/common/promoCommon::discount" name="%:d"></select>
		</div>		
		<div id="E:y,-:y" style="display:none" class="input-group policy">
			<span class="input-group-addon">E</span>
			<input class="form-control validate[required,custom[number]]" type="text" style="width:70px" maxlength="5" name="E:y">
			<span class="input-group-addon">-</span>
			<input class="form-control validate[required,custom[number,funcCall[validateMax]]]" type="text" style="width:70px" maxlength="5" name="-:y">
		</div>	
		<div id="%:d,2:d" style="display:none" class="input-group policy">
			<span class="input-group-addon">1</span>
			<select class="form-control" id="discount" th:include="store/promo/common/promoCommon::discount" name="%:d"></select>
			<span class="input-group-addon">2</span>
			<select class="form-control" id="discount" th:include="store/promo/common/promoCommon::discount" name="2:d"></select>
		</div>
		<div id="%:d,2+:d" style="display:none" class="input-group policy">
			<span class="input-group-addon">1</span>
			<select class="form-control" id="discount" th:include="store/promo/common/promoCommon::discount" name="%:d"></select>
			<span class="input-group-addon">2+</span>
			<select class="form-control" id="discount" th:include="store/promo/common/promoCommon::discount" name="2+:d"></select>
		</div>
		<div id="y:Y,n:N" style="display:none" class="input-group policy">
			<span class="input-group-addon">N</span>
			<input class="form-control validate[required,custom[integer]]" id="enough" type="text" style="width:70px" maxlength="2" name="y:Y">
			<span class="input-group-addon">y</span>
			<input class="form-control validate[required,custom[number]]" id="minus" type="text" style="width:70px" maxlength="5" name="n:N">
		</div>
		<div id="+:y,m:1" style="display:none" class="input-group policy">
			<span class="input-group-addon">y</span>
			<input class="form-control validate[required,custom[number]]" type="text" style="width:70px" maxlength="5" name="+:y">
			<input type="hidden" value="1" name="m:1">
		</div>
		<div id="B:n,F:n" style="display:none" class="input-group policy">
			<span class="input-group-addon">bu</span>
			<select class="form-control" name="B:n">
				<option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
			</select>
			<span class="input-group-addon">free</span>
			<select class="form-control" name="F:n">
				<option value="1">1</option><option value="2">2</option>
			</select>
		</div>		
		
		<button type="button" class="btn btn-success" onclick="addProgramSubject()">新增</button>
		</div>
		</form>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>sub</th>
		<th>POLI</th>
		<th>ACTION</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{getSubjectName(v.subjectId)}}</td>
		<td class="w-title-s">{{v.subjectPolicyDesc}}</td>
		<td class="w-action">
			<a href="#" onclick="remove({{v.progId}}, {{v.subjectId}})">[删除]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

