<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">

//>>>>>>>>>>>>>>>>>>>img>>>>>>>>>>>>>>>>>>>>>>>>>>>>
var img = {};
img.zIndex = 1000;
img.click = function(obj) {
	var initWidth = new Number($(obj).data("data-init-width"));
	var initHeight = new Number($(obj).data("data-init-height"));
	
	if (obj.height == 80) {
		$(obj).css({position:"fixed",left:$(obj).offset().left,top:$(obj).offset().top});
		$(obj).css({zIndex:++img.zIndex,width:initWidth,height:initHeight});
	}
	else {
		$(obj).css({position:"",zIndex:1000,width:80*initWidth/initHeight,height:80});
	}
}
img.html = '<td class="imgTd"><table><tr><td rowspan="2"><img onclick="img.click(this)" onload="img.resize(this)"/></td>\
	<td class="glyphicon glyphicon-remove-circle" onclick="img.remove(this)"></td></tr></table></td>';
img.fileChange = function(obj) {
	this.loadImg(obj.files, obj.files.length, $(obj).parent().parent());
	
	// 重新生成一个，防止在图片被删除时onchange不生效
	$(obj).prop("outerHTML", $(obj).prop("outerHTML"));
}
img.loadImg = function(f, n, imgTr) {
	n--;
	
	// data-max-size默认为1M,maxLength默认为1
	var maxSize =  $(imgTr).find("input").attr("data-max-size");
	maxSize = !maxSize ? 1024*1024 : new Number(maxSize);
	
	if (f[n].size > maxSize) {
		var max = maxSize >= 1024*1024 ? (maxSize/1024/1024).toFixed(1) + "M" : (maxSize/1024).toFixed(1) + "K";
		return alertWarning("不能大于" + max);
	}
	
	// 删除之前的
	imgTr.find(".imgTd").remove();
	
	var td = $(this.html);
	td.appendTo(imgTr);
	var reader = new FileReader();
	reader.onload = function(e) {
		var imgObj = td.find("img");
		imgObj.prop("src", this.result);
		imgObj.data("file", f[n]);
		if (n > 0) img.loadImg(f, n, imgTr);
	}
	reader.readAsDataURL(f[n]);
	
	imgTr.find(".uploadAction").show();	
}
img.resize = function(img) {
	var initWidth = img.width;
	var intiHeight = img.height;
	$(img).data("data-init-width", initWidth);
	$(img).data("data-init-height", intiHeight);
	$(img).css({width:80 * initWidth / intiHeight, height:80});
	
	$(img).show();
	$(img).nextAll().remove();
	$(img).after("<span>" + initWidth + "x" + intiHeight + "</span>");

}
img.remove = function(obj) {
	$(obj).parents(".imgTr").find(".uploadAction").hide();
	$(obj).parents(".imgTd").remove();
}


$(function() {
});

function upload(obj) {
	var type = $(obj).attr("data-type");
	var file = $(obj).parents(".imgTr").find("img").data("file");
	var formData = new FormData();
	formData.append("file", file);
	formData.append("type", type);
	
	showLoading();
	$.ajax({url:[[#{imgUrl}]] + '../imgUpload/showSave', type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			if (r.arrayList && r.arrayList.length == 1) {
				var src = [[#{imgUrl}]] + r.arrayList[0] + "?t=" + new Date().getTime();
				$("#" + type).css("width", "");
				$("#" + type).css("height", "");
				$("#" + type).attr("src", src);
				$("#" + type).attr("title", src);
				updateImgSrc(type, src);
			} 
		}
	});
}

function updateImgSrc(type, src) {
	$.post([[@{/img/updateImgSrc}]], "type=" + type + "&src=" + src, function(r) {
		if (r.result == 1) {
			alertSuccess("上传成功");
			hideLoading();
		}
	});
}

function editSrc(obj) {
	var type = $(obj).attr("data-type");
	var src = $("#" + type).attr("src");
	$("#imgSrc").val(src);
	$('#edit').modal('show');
	
	action = function() {
		var src = $("#imgSrc").val();
		$("#" + type).css("width", "");
		$("#" + type).css("height", "");
		$("#" + type).attr("src", src);
		$("#" + type).attr("title", src);
		updateImgSrc(type, encodeURIComponent(src));
		$('#edit').modal('hide');
	}
}
</script>
</head>

<body class="page-list-body">

<div class="page-list-query">
	<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>图片管理</span></div>
</div>

<table id="listTable" class="page-list-table table table-bordered table-condensed">
	<tr>
		<th style="width:200px">类型</th>
		<th style="width:600px">图片</th>
		<th style="width:200px">修改</th>
		<th>上传图片</th>
	</tr>
	<tr th:each="img:${imgList}" style="height:82px;overflow:hidden;">
		<td th:if="${img.imgType == 'cat'}">类目</td>
		<td th:if="${img.imgType == 'brand'}">品牌</td>
		<td th:if="${img.imgType == 'theme'}">专题</td>
		<td th:if="${img.imgType == 'promo'}">促销</td>
		<td>
			<div style="height:80px;overflow:hidden">
				<img th:id="${img.imgType}" style="display:none" th:src="${img.imgSrc}" onload="img.resize(this)" onclick="img.click(this)" th:title="${img.imgSrc}">
			</div>
		</td>
		<td><a href="#" onclick="editSrc(this)" th:attr="data-type=${img.imgType}">修改图片地址</a></td>
		<td>
			<table border="1" style="border-color:#DDDDDD;height:84px">
			<tr class="imgTr">
			<td>
				<input type="file" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
				<a href="#" onclick="$(this).prev().click()">[+]</a>
				<a href="#" style="display:none" class="uploadAction" onclick="upload(this)" th:attr="data-type=${img.imgType}" >上传</a>
			</td>
			</table>
		</td>
	</tr>
</table>


<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改图片地址', 780)">
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>SRC：</label>
		<div class="col-sm-8"><input type="text" id="imgSrc" class="form-control" maxlength="256" style="width:600px"></div>
	</div>
</div>

</body>
</html>







