<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>
<link th:replace="common/fragment/common::date"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/store/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/store/insertStore}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				queryPage(1);
			}
			else if (r.result == 0) {
				hideLoading();
				alertWarning("已经存在！");
			}
		});
	}
}

function edit(id) {
	showLoading();
	$.post([[@{/store/getStore}]], "id=" + id, function(r) {
		hideLoading();
		$('#edit').modal('show');
		$("#editTemplate").nextAll().remove();
		$("#editTemplate").parent().append(template("editTemplate", r));
	});
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/store/updateStore}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				queryPage(1);
			}
		});
	}
}

function remove(obj, id) {
	var storeName = $(obj).attr("data-store-name");
	$("#showStoreName").text(storeName);
	$('#delete').modal('show');
	
	action = function() {
		if ($("#deleteStoreName").val() != storeName) {
			alertWarning("店铺名称不正确");
			return;
		}
		showLoading();
		$.post([[@{/store/deleteStore}]], "id=" + id, function(r) {
			if (r.result == 1) {
				$('#delete').modal('hide');
				queryPage(1);
			}
		});	
	}
}

function repo(id) {
	$("#seletedId").text(id);
	showLoading();
	$.post([[@{/store/listStoreRepo}]], "id=" + id, function(r) {
		hideLoading();
		$('#repo').modal('show');
		$("#selectedRepo").empty();
		for (var i = 0; r.arrayList && i < r.arrayList.length; i++) {
			var name = r.arrayList[i].repoName;
			var disabled = (r.arrayList[i].repoId == id ? "disabled style='color:red'" : "");
			var name = (r.arrayList[i].repoId == id ? name + "(位于)" : name);
			$("#selectedRepo").append('<option value="' + r.arrayList[i].repoId + '" ' + disabled + '>' + name + '</option>');
		}
	});
	
	action = function() {
		var val = [];
		$("#selectedRepo>option").each(function() {
			val.push("repoId=" + $(this).val());
		})
		
		showLoading();
		$.post([[@{/store/saveStoreRepo}]], "id=" + id + "&" + val.join("&"), function(r) {
			if (r.result == 1) {
				$('#repo').modal('hide');
				queryPage(1);
			}
		});
	}
}

function storeAddRepo(obj) {
	if ($("#selectedRepo").find("[value=" + obj.value + "]").length == 0) {
		var value = obj.value;
		var name = $(obj).find("[value=" + obj.value + "]").text();
		$("#selectedRepo").append('<option value="' + value + '">' + name + '</option>');
	}
}

function storeDeleteRepo(obj) {
	$(obj).find("[value=" + obj.value + "]").remove();
}


//>>>>>>>>>>>>>>>>>>>img>>>>>>>>>>>>>>>>>>>>>>>>>>>>
var img = {};
img.zIndex = 1000;
img.click = function(obj) {
	var initWidth = new Number($(obj).data("data-init-width"));
	var initHeight = new Number($(obj).data("data-init-height"));
	
	if (obj.height == 80) {
		$(obj).css({position:"fixed",left:$(obj).offset().left,top:$(obj).offset().top});
		$(obj).css({zIndex:++img.zIndex,width:initWidth,height:initHeight});
	}
	else {
		$(obj).css({position:"",zIndex:1000,width:80*initWidth/initHeight,height:80});
	}
}
img.html = '<td class="imgTd"><table><tr><td rowspan="2"><img onload="img.resize(this)"/></td>\
	<td class="glyphicon glyphicon-remove-circle" onclick="img.remove(this)"></td></tr></table></td>';
img.fileChange = function(obj) {
	this.loadImg(obj.files, obj.files.length, $(obj).parent().parent());
	
	// 重新生成一个，防止在图片被删除时onchange不生效
	$(obj).prop("outerHTML", $(obj).prop("outerHTML"));
}
img.loadImg = function(f, n, imgTr) {
	n--;
	
	// data-max-size默认为1M,maxLength默认为1
	var maxSize =  $(imgTr).find("input").attr("data-max-size");
	maxSize = !maxSize ? 1024*1024 : new Number(maxSize);
	
	if (f[n].size > maxSize) {
		var max = maxSize >= 1024*1024 ? (maxSize/1024/1024).toFixed(1) + "M" : (maxSize/1024).toFixed(1) + "K";
		return alertWarning("不能大于" + max);
	}
	
	// 删除之前的
	imgTr.find(".imgTd").remove();
	
	var td = $(this.html);
	td.appendTo(imgTr);
	var reader = new FileReader();
	reader.onload = function(e) {
		var imgObj = td.find("img");
		imgObj.prop("src", this.result);
		imgObj.data("file", f[n]);
		if (n > 0) img.loadImg(f, n, imgTr);
	}
	reader.readAsDataURL(f[n]);
	
	imgTr.find(".uploadAction").show();	
}
img.resize = function(img) {
	var initWidth = img.width;
	var intiHeight = img.height;
	$(img).data("data-init-width", initWidth);
	$(img).data("data-init-height", intiHeight);
	$(img).css({width:80 * initWidth / intiHeight, height:80});
	
	$(img).show();
	$(img).nextAll().remove();
	$(img).after("<span>" + initWidth + "x" + intiHeight + "</span>");

}
img.remove = function(obj) {
	$(obj).parents(".imgTr").find(".uploadAction").hide();
	$(obj).parents(".imgTd").remove();
}


function upload(obj) {
	var file = $(obj).parents(".imgTr").find("img").data("file");
	var formData = new FormData();
	formData.append("file", file);
	formData.append("type", "swiper");
	
	showLoading();
	$.ajax({url:[[@{/imgUpload/showSave}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			if (r.arrayList && r.arrayList.length == 1) {
				var url = [[#{imgUrl}]] + r.arrayList[0];
				$("[name=storeImg]").val(url);
				hideLoading();
				alertWarning("上传图片成功");
			} 
		}
	});
}
</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('店铺管理')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="text" class="form-control input-sm" name="storeName" placeholder="请输入店铺名称" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>店铺图片</th>
		<th>店铺名称</th>
		<th>店铺编号</th>
		<th>经度-纬度</th>
		<th>店铺电话</th>
		<th>地址</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.storeId}}</td>
		<td class="w-id">
			<div style="height:80px;overflow:hidden">
				<img style="display:none" src="{{v.storeImg}}" onload="img.resize(this)" onclick="img.click(this)"/>
			</div>
		</td>
		<td class="w-id">{{v.storeName}}</td>
		<td class="w-id">{{v.storeNo}}</td>
		<td class="w-title-m">{{v.storeLng}}-{{v.storeLat}}</td>
		<td class="w-id">{{v.storePhone}}</td>
		<td class="w-title-l">
			<div>{{v.storeAddress}}</div>
			<div>提货时间：{{v.businessBegin}}-{{v.businessEnd}}</div>
		</td>
		<td class="w-action-m">
			<a href="#" onclick="remove(this, '{{v.storeId}}')" data-store-name="{{v.storeName}}">[删除]</a>&nbsp;&nbsp;
			<a href="#" onclick="repo('{{v.storeId}}')">[关联仓库]</a>&nbsp;&nbsp;
			<a href="#" onclick="edit('{{v.storeId}}')">[修改]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 820)">
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>所在仓库：</label>
		<div class="col-sm-3">
			<select class="form-control input-sm" name="storeId">
				<option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
		<label class="col-sm-2 control-label">店铺电话：</label>
		<div class="col-sm-3"><input type="text" name="storePhone" class="form-control"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>店铺名称：</label>
		<div class="col-sm-3"><input type="text" name="storeName" class="form-control validate[required]" maxlength="32"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>店铺编号：</label>
		<div class="col-sm-3"><input type="text" name="storeNo" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>经度：</label>
		<div class="col-sm-3"><input type="text" name="storeLng" class="form-control validate[required]" maxlength="32"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>纬度：</label>
		<div class="col-sm-3"><input type="text" name="storeLat" class="form-control validate[required]" maxlength="32"></div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>提货开始时间：</label>
		<div class="col-sm-3"><input type="text" name="storeLng" class="form-control validate[required]" onclick="WdatePicker({dateFmt:'HH:mm'})"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>提货结束时间：</label>
		<div class="col-sm-3"><input type="text" name="storeLat" class="form-control validate[required]" onclick="WdatePicker({dateFmt:'HH:mm'})"></div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">店铺图片：</label>
		<div class="col-sm-8"><input type="text" id="storeImg" name="storeImg" class="form-control" style="width:540px;"></div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">选择图片：</label>
		<div class="col-sm-8">
		<table border="1" style="border-color:#DDDDDD;height:84px;">
		<tr class="imgTr">
		<td>
			<input type="file" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
			<a href="#" onclick="$(this).prev().click()">[+]</a>
			<a href="#" style="display:none" class="uploadAction" onclick="upload(this)">上传</a>
		</td>
		</table>
		</div>
	</div>
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 820)">
	<script id="editTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-2 control-label">ID：</label>
		<div class="col-sm-3"><input type="text" name="storeId" value="{{store.storeId}}" class="form-control" readonly></div>
		<label class="col-sm-2 control-label">店铺电话：</label>
		<div class="col-sm-3"><input type="text" name="storePhone" class="form-control" value="{{store.storePhone}}"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>店铺名称：</label>
		<div class="col-sm-3"><input type="text" name="storeName" value="{{store.storeName}}" class="form-control validate[required]" maxlength="32"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>店铺编号：</label>
		<div class="col-sm-3"><input type="text" name="storeNo" value="{{store.storeNo}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>经度：</label>
		<div class="col-sm-3"><input type="text" name="storeLng" value="{{store.storeLng}}" class="form-control validate[required]" maxlength="32"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>纬度：</label>
		<div class="col-sm-3"><input type="text" name="storeLat" value="{{store.storeLat}}" class="form-control validate[required]" maxlength="32"></div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>提货开始时间：</label>
		<div class="col-sm-3"><input type="text" name="businessBegin" value="{{store.businessBegin}}" class="form-control validate[required]" onclick="WdatePicker({dateFmt:'HH:mm'})"></div>
		<label class="col-sm-2 control-label"><span class="required">*</span>提货结束时间：</label>
		<div class="col-sm-3"><input type="text" name="businessEnd" value="{{store.businessEnd}}" class="form-control validate[required]" onclick="WdatePicker({dateFmt:'HH:mm'})"></div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">店铺图片：</label>
		<div class="col-sm-8"><input type="text" name="storeImg" value="{{store.storeImg}}" class="form-control" style="width:530px;"></div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">选择图片：</label>
		<div class="col-sm-8">
		<table border="1" style="border-color:#DDDDDD;height:84px;">
		<tr class="imgTr">
		<td>
			<input type="file" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
			<a href="#" onclick="$(this).prev().click()">[+]</a>
			<a href="#" style="display:none" class="uploadAction" onclick="upload(this)">上传</a>
		</td>
		</table>
		</div>
	</div>
	</script>
</div>

<div th:fragment="repo" th:replace="common/fragment/common::modal('repo', '仓库设置', 560)">
	<div class="form-group">
		<div class="col-sm-5">
			<label>ID:<span id="seletedId"></span>关联的仓库</label>
			<select  class="form-control" id="selectedRepo" style="width:220px" size="10" ondblclick="storeDeleteRepo(this)"></select>
		</div>
		<div class="col-sm-5">
			<label>所有仓库(双击选择)</label>
			<select class="form-control" style="width:220px" size="10" ondblclick="storeAddRepo(this)">
				<option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
	</div>
</div>

<div th:fragment="delete" th:replace="common/fragment/common::modal('delete', '确认删除', 400)">
	<div class="form-group" style="text-align:center">
		<div class="col-sm-10" style="color:red">请确保店铺：<span id="showStoreName"></span>没有被使用</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label"><span class="required">*</span>店铺名称：</label>
		<div class="col-sm-6"><input type="text" class="form-control" id="deleteStoreName" maxlength="32"></div>
	</div>
</div>

</body>
</html>

