<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/store/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	$('#addForm')[0].reset();
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/store/insertStore}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				queryPage(1);
			}
		});
	}
}

function edit(id) {
	showLoading();
	$.post([[@{/store/getStore}]], "id=" + id, function(r) {
		hideLoading();
		$('#edit').modal('show');
		$("#editTemplate").nextAll().remove();
		$("#editTemplate").parent().append(template("editTemplate", r));
	});
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/store/updateStore}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				queryPage(1);
			}
		});
	}
}

function remove(id) {
	var callback = function () {
		showLoading();
		$.post([[@{/store/deleteStore}]], "id=" + id, function(r) {
			if (r.result == 1) {
				queryPage(1);
			}
		});	
	}
	confirm(id, callback);
}

function repo(id) {
	showLoading();
	$.post([[@{/store/listStoreRepo}]], "id=" + id, function(r) {
		hideLoading();
		$('#repo').modal('show');
		$("#selectedRepo").empty();
		for (var i = 0; r.arrayList && i < r.arrayList.length; i++) {
			$("#selectedRepo").append('<option value=' + r.arrayList[i].repoId + '>' + r.arrayList[i].repoName + '</option>');
		}
	});
	
	action = function() {
		var val = [];
		$("#selectedRepo>option").each(function() {
			val.push("repo=" + $(this).val());
		})
		
		showLoading();
		$.post([[@{/store/saveStoreRepo}]], "id=" + id + "&" + val.join("&"), function(r) {
			if (r.result == 1) {
				$('#repo').modal('hide');
				queryPage(1);
			}
		});
	}
}
</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('STxxx')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<input type="text" class="form-control input-sm" name="storeName" placeholder="请输入stxxx" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>No</th>
		<th>ADD</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.storeId}}</td>
		<td class="w-title-s">{{v.storeName}}</td>
		<td class="w-title-s">{{v.storeNo}}</td>
		<td class="w-title-s">{{v.storeAddress}}</td>
		<td class="w-action">
			<a href="#" onclick="repo('{{v.storeId}}')">[repo]</a>&nbsp;&nbsp;
			<a href="#" onclick="remove('{{v.storeId}}')" class="glyphicon glyphicon-trash" title="删除"></a>&nbsp;&nbsp;
			<a href="#" onclick="edit('{{v.storeId}}')" class="glyphicon glyphicon-edit" title="修改"></a>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 360)">
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7">
			<select class="form-control input-sm" name="storeId">
				<option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="storeName" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>No：</label>
		<div class="col-sm-7"><input type="text" name="storeNo" class="form-control validate[required]" maxlength="32"></div>
	</div>
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 360)">
	<script id="editTemplate" type="text/html">
	<div class="form-group">
		<label class="col-sm-3 control-label">ID：</label>
		<div class="col-sm-7"><input type="text" name="storeId" value="{{store.storeId}}" class="form-control" readonly></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="storeName" value="{{store.storeName}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>NAME：</label>
		<div class="col-sm-7"><input type="text" name="storeNo" value="{{store.storeNo}}" class="form-control validate[required]" maxlength="32"></div>
	</div>
	</script>
</div>


<div th:fragment="repo" th:replace="common/fragment/common::modal('repo', 'repo', 400)">
	<div class="form-group">
		<div class="col-sm-5">
			<select id="selectedRepo" class="form-control" style="width:150px" size="10">
			</select>
		</div>
		<div class="col-sm-5">
			<select class="form-control" style="width:150px" size="10">
				<option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
	</div>
</div>

</body>
</html>

