<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">


$(function() {
	//refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	if ($("#skuId").val() == "") {
		alertWarning("skuId不能为空");
		return;
	}

	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/stockChange/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}


</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('change')">
	<div th:fragment="queryFragment">
		<input type="text" class="form-control input-sm" id="skuId" name="skuId" placeholder="请输入skuId" style="width:200px;" onkeyup="this.value=this.value.replace(/\D/g,'')">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>changeNum</th>
		<th>changeType</th>
		<th>changeComment</th>
		<th>created</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.changeId}}</td>
		<td class="w-id">{{v.changeNum}}</td>
		<td class="w-id">{{v.changeTypeDescs}}</td>
		<td class="w-title-s">{{v.changeComment}}</td>
		<td class="w-time">{{v.created}}</th>
		
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

