<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">

// rule.integer.regex
// rule.number.regex
var rule = $.validationEngineLanguage.allRules;

$(function() {
	
});

function validate() {
	$("#hint").empty();
	var validationResult = [];
	
	
	var prodIdArray = [];
	var specialPriceArray = [];
	
	var content = $.trim($("#content").val());
	var lineContent = content.split("\n");
	for (var i = 0; i < lineContent.length; i++) {
		var lineStr = $.trim(lineContent[i]);
		if (lineStr == "") {
			validationResult.push((i + 1) + ":empty");
		}
		else {
			var v = lineStr.split("|")
			if (v.length != 2) {
				validationResult.push((i + 1) + ":|不对");
				continue;
			}
			var id = $.trim(v[0]);
			var price = $.trim(v[1]);
			if (!rule.integer.regex.test(id)) {
				validationResult.push((i + 1) + ":not integer");
			}
			else if (!rule.number.regex.test(price)) {
				validationResult.push((i + 1) + ":not number");
			}
			
			prodIdArray.push(id);
			specialPriceArray.push(price);
		}
	}
		
	if (validationResult.length == 0) {
		var para = "prodIdStr=" + prodIdArray.join(",") + "&specialPriceStr=" + specialPriceArray.join(",");
		return para;
	}
	else {
		var hintHtml = "";
		validationResult.forEach(function(v) {
			$("#hint").append('<a href="javascript:imp.gotoRownum(' + v.split(":")[0] + ')">' + v + '</a><br>');
		})
		
		return false;
	}		
}




function go() {
	var r = validate();
	alert(r)
	if (r != false) {
		alert(r);
	}
}


var imp = {};
imp.areaScroll = function(obj) {
	$("#rownum").prop("scrollTop", obj.scrollTop);
}
imp.rownumScroll = function(obj) {
	$("#content").prop("scrollTop", obj.scrollTop);
}
imp.areakeyup = function(obj) {
	if (event.keyCode != 13) return;
	$("#areaObj").data("currentObj", obj);
	this.createRownum();
}
imp.createRownum = function (){
	var currentObj = $("#areaObj").data("currentObj");
	
	var lineNum = $(currentObj).val().split("\n").length;
	var lineNumArray = [];
	for (var i = 1; i <= lineNum; i++) {
		lineNumArray.push(i)
	}
	$("#rownum").val(lineNumArray.join("\n"));
}
imp.areaPaste = function(obj) {
	$("#areaObj").data("currentObj", obj);
	
	// 去掉空行
	var val = $.trim($(obj).val());
	$(obj).val(val == "" ? "" : val + "\n");
	
	window.setTimeout(function() {
		imp.createRownum();
		imp.areaScroll($("#areaObj").data("currentObj"));
	}, 100);
}
imp.gotoRownum = function(n) {
	var lineNum = $("#rownum").val().split("\n").length;
	
	if (n < '0' || n > lineNum) {
		return;
	}
	
	var enter = "";
	for (var i = 0; i < new Number(n); i++) {
		enter += (i + 1) + "\n";
	}
	$("#rownum").val(enter).focus();
	
	var enterNew = "";
	for (var i = 0; i < lineNum - new Number(n); i++) {
		enterNew += new Number(n) + (i + 1) + "\n";
	}
	$("#rownum").val($("#rownum").val() + enterNew);
}
</script>



<body>

<div>----xx-----</div>


<table>
<tr>
	<td>行号</td>
	<td>内容:产品ID|特价</td>
	<td>提示(点击跳到指定行)</td>
</tr>
<tr>
	<td style="text-align: right">
		<input type="hidden" id="areaObj">
		<textarea id="rownum" rows="15" cols="10" wrap="off" class="form-control" onscroll="imp.rownumScroll(this)" style="overflow-y:hidden;width:50px;resize:none;border:1px solid white;text-align: right" readonly="readonly">1</textarea>
	</td>
	<td>
		<textarea id="content" rows="15" cols="30" wrap="off" class="form-control" onscroll="imp.areaScroll(this)" style="resize: none;" onpaste="imp.areaPaste(this)" onkeyup="imp.areakeyup(this)"></textarea>
	</td>
	<td >
		<div id="hint" style="height:330px;width:200px;overflow-y:scroll;"></div>
	</td>
</tr>
<tr>
	<td colspan="3">
		<button type="button" class="btn btn-default btn-sm" onclick="imp.gotoRownum()">跳到</button>
		<input type="number" id="goNum" class="form-control input-sm" style="width:100px" maxlength="3">
		<label>行</label>
	</td>
</tr>
</table>







<br>
<br>
<br>
<a href="javascript:go()">test</a>










</body>

</html>