<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:src="@{/static/module/store/release/prod/product.js}"></script>

<script type="text/javascript" th:inline="javascript">
$(function() {
	
});

function insert() {
	$.post([[@{/product/insertProduct}]], $("#addForm").serialize(), function(r) {
		if (r.result == 1) {
			alertSuccess();
		}
	});
}

function add() {
	if (!$("#addForm").validationEngine('validate')) return;
	uploadImg(insert);
}


function uploadImg(callback) {
	var formData = new FormData();
	$(".uploadImg").each(function() {formData.append("file", $(this).data("file"))});	
	
	$.ajax({url:[[@{/imgUpload/multipleSave}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			var len = r.arrayList.length;
			if ($(".uploadImg").length != len) {
				alertDanger("上传失败");
				return;
			}
			
			for (var i = 0; i < len; i++) {
				// 上传后路径写回img
				$(".uploadImg").eq(i).data("imgSrc", r.arrayList[i]);
			}
			
			// 路径以,分格写到hidden
			$(".skuTr").each(function() {
				var r = [];
				$(this).find("img").each(function(){
					r.push($(this).data("imgSrc"));
				});
				$(this).find("[name=skuImgSrc]").val(r);
			});
			callback.call();
		}
	});
}

</script>

<style>
.form-body {padding:3px;min-width:1200px;overflow-x:hidden}
.form-title {height:20px;font-size:15px;line-height:30px;padding-left:20px;}

</style>

</head>

<body>


<div class="form-horizontal form-body" style="display:">
	<div class="form-group">
		<div class="form-title"><span class="glyphicon glyphicon-th-list"></span><span>DEMO_TEST</span></div>
	</div>
	
	
	
	<form id="addForm">
	<!--  
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>REPO：</label>
		<div class="col-sm-3">
			<select class="form-control" name="repoId">
				<option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
		
		<label class="col-sm-2 control-label"><span class="required">*</span>TEST：</label>
		<div class="col-sm-3">
			<select class="form-control" name="catId">
				<option th:value="${item.catId}" th:text="${item.catName}" th:each="item:${listCat}"></option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>Title：</label>
		<div class="col-sm-7"><input type="text" name="prodTitle" class="form-control validate[required]" maxlength="32" style="width:500px"></div>
	</div>
	-->
	<!--  NUM PRI IMG  -->
	
	<!--
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>NUM：</label>
		<div class="col-sm-3"><input type="text" name="prodTitle" class="form-control validate[required]" maxlength="32"></div>
	
		<label class="col-sm-2 control-label"><span class="required">*</span>DOUBLE：</label>
		<div class="col-sm-3"><input type="text" name="prodTitle" class="form-control validate[required]" maxlength="32"></div>
	</div>
	-->
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>测试导出：</label>
		<div class="col-sm-8">
		<table id="skuTable">
			<tr>
				<th style="width:55px">数量</th>
				<th style="width:95px">DDDD</th>
				<th style="display:none;" class="firstSkuTitle">TITLE</th>
				<th style="width:60px">AC</th>
				<th>IM</th>	
			</tr>
			<tr class="skuTr">
				<td><input type="text" name="stockNum" class="form-control validate[required,custom[integer]]" maxlength="3" style="width:50px"></td>
				<td><input type="text" name="price" class="form-control validate[required,custom[number]]" maxlength="7" style="width:90px"></td>
				<td style="display:none;" class="firstSkuTitle"><input type="text" name="skuName" class="form-control validate[required]" maxlength="32"></td>
				<td class="skuAction">
					<a href="#" onclick="sku.add(this)">[增加]</a>
				</td>
				<td>
				<input type="hidden" name="skuImgSrc">
				<table>
				<tr class="imgTr">
					<td>
						<input type="file" multiple="multiple" onchange="img.fileChange(this)" style="display:none" accept=".jpg,.png">
						<a href="#" onclick="$(this).prev().click()">[+]</a>
					</td>
				</tr>
				</table>
				</td>
			</tr>
			
			<!-- TODO删除 -->
			<tr class="skuTr" id="moreSkuTr" style="display: none">
				<td><input type="text" name="stockNum" class="form-control validate[required,custom[integer]]" maxlength="3" style="width:50px"></td>
				<td><input type="text" name="price" class="form-control validate[required,custom[number]]" maxlength="7" style="width:90px"></td>
				<td><input type="text" name="skuName" class="form-control" maxlength="32"></td>
				<td class="skuAction">
					<a href="#" onclick="sku.remove(this)">[删除]</a>
					<a href="#" onclick="sku.top(this)">[T]</a>
				</td>
				<td>
				<input type="hidden" name="skuImgSrc">
				<table>
				<tr class="imgTr">
					<td>
						<input type="file" multiple="multiple" onchange="img.fileChange(this)" style="display:none" accept=".jpg,.png">
						<a href="#" onclick="$(this).prev().click()">[+]</a>
					</td>
				</tr>
				</table>
				</td>
			</tr>
		</table>
		</div>
	</div>

	
	
	<div class="form-group">
		  
		<div style="text-align: center;">
			<button class="btn btn-primary btn-sm" onclick="add()" type="button">导出</button>
			&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-default btn-sm">返回</button>
		</div>
		
	</div>
	</form>
	
</div>

</body>
</html>

