<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">
function refreshData(d) {
	if (!d.arrayList) return;
	
	for (var i = 0; i < d.arrayList.length; i++) {
		var cat = d.arrayList[i];
		if (i == 0) {
			cat.isFirst = true;
		}
		if (i == d.arrayList.length - 1) {
			cat.isLast = true;
		}
		for (var j = 0; cat.children && j < cat.children.length; j++) {
			var c = cat.children[j];
			if (j == 0) {
				c.isFirst = true;
			}
			else if (j == cat.children.length - 1) {
				c.isLast = true;
			}
		}
	}
	//alert(JSON.stringify(d));
	
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, d));
}

$(function() {
	refreshData([[${listJson}]]);
});


function queryData() {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/category/listJson}]], null, function(r) {
		refreshData(r);
		hideLoading();
	});
}

function addChild(parentId) {
	$("#parentId").val(parentId);
	
	$('#add').modal('show');
	
	action = function() {
		if (!$("#addForm").validationEngine('validate')) return;
		
		showLoading();
		$.post([[@{/category/insertCategory}]], $("#addForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#add').modal('hide');
				queryData();
			}
		});
	}
}

function toggleMain(obj, id) {
	$("[data-parent-id=" + id+ "]").slideToggle("fast");
	if ($(obj).text() == "[展开]") {
		$(obj).text("[折叠]");
	} else {
		$(obj).text("[展开]");
	}
}

function edit(obj, catId) {	
	$("#editCatId").val(catId);
	$("#editCatName").val($(obj).attr("data-catName"));
	$('#edit').modal('show');
	
	action = function() {
		if (!$("#editForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/category/updateCategory}]], $("#editForm").serialize(), function(r) {
			if (r.result == 1) {
				$('#edit').modal('hide');
				queryData();
			}
		});
	}
}

var move = {};
move.top = function(catId) {
	showLoading();
	$.post([[@{/category/top}]], "id=" + catId, function(r) {
		if (r.result == 1) {
			queryData();
		}
	});
}
move.last = function(catId) {
	showLoading();
	$.post([[@{/category/last}]], "id=" + catId, function(r) {
		if (r.result == 1) {
			queryData();
		}
	})
}
move.up = function(catId) {
	showLoading();
	$.post([[@{/category/up}]], "id=" + catId, function(r) {
		if (r.result == 1) {
			queryData();
		}
	})
}
move.down = function(catId) {
	showLoading();
	$.post([[@{/category/down}]], "id=" + catId, function(r) {
		if (r.result == 1) {
			queryData();
		}
	})
}
</script>
</head>

<body>

<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>CAT</span></div>
		<button type="button" class="btn btn-success btn-sm" onclick="addChild(-1)">新增</button>
	</div>
	
	<table class="page-list-table table table-bordered table-condensed">	
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>ACTION</th>
	</tr>
	
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr data-parent-id="{{v.parentId}}">
		<td class="w-id">{{v.catId}}</td>
		<td class="w-title-s" style="text-align:left">{{v.catName}}{{if v.children}}<a href="#" onclick="javascript:toggleMain(this, {{v.catId}})">[折叠]</a>{{/if}}</td>
		<td class="w-action">
			<a href="javascript:addChild({{v.catId}})">[addChild]</a>
			<a href="#" onclick="edit(this, {{v.catId}})" data-catName="{{v.catName}}">[修改]</a>

			{{if !(v.isFirst && v.isLast)}} 
				{{if !v.isLast}}<a href="javascript:move.down({{v.catId}})">last</a>,<a href="javascript:move.last({{v.catId}})">last</a>{{/if}}
				{{if !v.isFirst}}<a href="javascript:move.up({{v.catId}})">up</a>,,<a href="javascript:move.top({{v.catId}})">top</a>{{/if}}
			{{/if}}
		</td>
	</tr>
	{{each v.children as c}}
	<tr data-parent-id="{{c.parentId}}">
		<td class="w-id">{{c.catId}}</td>
		<td class="w-title-s">{{c.catName}}</td>
		<td class="w-action">
			<a href="#" onclick="edit(this, {{c.catId}})" data-catName="{{c.catName}}">[修改]</a>
			{{if !(c.isFirst && c.isLast) && c.length > 1}}
				{{if !c.isLast}}<a href="javascript:move.down({{c.catId}})">down</a>,<a href="javascript:move.last({{c.catId}})">last</a>{{/if}}
				{{if !c.isFirst}}<a href="javascript:move.up({{c.catId}})">up</a>,<a href="javascript:move.top({{c.catId}})">top</a>{{/if}}
			{{/if}}
		</td>
	</tr>
	{{/each}}
	{{/each}}
	</script>
	</table>
</div>

<div th:fragment="add" th:replace="common/fragment/common::modal('add', '新增', 360)">
	<input type="hidden" id="parentId" name="parentId">
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>类名：</label>
		<div class="col-sm-7"><input type="text" name="catName" class="form-control validate[required]" maxlength="32"></div>
	</div>
</div>

<div th:fragment="edit" th:replace="common/fragment/common::modal('edit', '修改', 360)">
	<input type="hidden" id="editCatId" name="catId">
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>类名：</label>
		<div class="col-sm-7"><input type="text" id="editCatName" name="catName" class="form-control validate[required]" maxlength="32"></div>
	</div>
</div>

</body>
</html>

