<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::date"/>
<script type="text/javascript" th:src="@{/static/module/store/promo/valuation/valuation.js}"></script>



<script type="text/javascript" th:inline="javascript">
$(function() {
	
});

var skuList = [];
var skuMap = {};

function query() {
	if ($("#date").val() == "") {
		alertWarning("日期不能为空!");
		return;
	}
	if ($("#stuIdStr").val() == "") {
		alertWarning("skuId不能为空!");
		return;
	}
	
	showLoading();
	$.post([[@{/valuation/listSku}]], $("#queryForm").serialize(), function(r) {
		if (r.result == -1) {
			alertWarning("输入参数错误");
		}
		else if(r.result == -2) {
			var skuId = [];
			 r.arrayList.forEach(function(v){
				 skuId.push(v.skuId); 
			 });
			 alertWarning("id不存在:" + skuId);
		}
		else if (r.result == 1) {
			skuList = r.arrayList;
			skuList.forEach(function(v){
				skuMap[v.skuId] = v;
			})
			
			refreshSkuList(skuList);
		}
		hideLoading();
	});
	
}

function refreshSkuList(skuList) {
	$("#listTemplate").parent().find("tr:gt(0)").remove();
	$("#listTemplate").parent().append(template("listTemplate", skuList));
	
	
	var totalNum = 0;
	var totalPrice = 0;
	skuList.forEach(function(v) {
		totalNum += v.num;
		totalPrice += new Number(v.itemPrice);
	})
	
	$("#totalNum").text(totalNum);
	$("#totalPrice").text(new Number(totalPrice).toFixed(2));
}

function plus(obj, skuId) {	
	var numJObj = $(obj).parent().find(".num");
	var num = new Number(numJObj.text()) + 1;
	skuMap[skuId].num = num;
	
	skuList = valu.count(skuList);	
	refreshSkuList(skuList);
}

function minus(obj, skuId) {
	var numJObj = $(obj).parent().find(".num");
	var num = new Number(numJObj.text()) - 1;
	
	if (num == 0) {
		
		var callback = function () {
			var index = skuList.indexOf(skuMap[skuId]);
			if (index > -1) {
				skuList.splice(index, 1);
				skuList = valu.count(skuList);
				refreshSkuList(skuList);
			}	
		}
		confirm(skuId, callback);
	}
	else {
		skuMap[skuId].num = num;
		skuList = valu.count(skuList);
		refreshSkuList(skuList);
	}
	
	
}

template.helper('formatPrice', function(price) {
	return new Number(price).toFixed(2);
})

var lastProgId = "";
var lastBackground = "";
template.helper('getGroupBackground', function(progId) {
	if (lastProgId != progId) {
		lastProgId = progId;
		return lastBackground = lastBackground == "" ? "groupBackground" : "";
	}
	return lastBackground;
})
</script>

<style>
.groupBackground {background-color:#EEEEEE;}
</style>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span>TEST_P</div>
		
		<form id="queryForm" class="form-inline">
		<label>日期:</label>
		<input type="text" class="form-control input-sm" style="width:90px" id="date" name="date" th:value="${today}" onclick="WdatePicker()">
		<label>Id(,):</label>
		<input type="text" class="form-control input-sm" id="stuIdStr" name="skuIdStr" placeholder="Id(,)" value="1,2,4,5" style="width:300px;">
		
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-plus-sign"></span>测试</button>
		</form>
	</div>
	<table class="table table-bordered table-condensed">
	<tr style="display:none"><th></th></tr>
	<script id="listTemplate" type="text/html">
	{{each}}
	<tr class="{{getGroupBackground($value.progId)}}">
		<td class="w-id"><img src="" style="width:80px; height:80px" alt="ppppp"></td>
		<td class="w-title-s">
		<table>
			<tr><td>{{$value.prodTitle}}</td></tr>
			<tr><td>{{$value.skuName}}</td></tr>
			<tr><td>{{$value.policy}}</td></tr>
			<tr>
				<td><!--¥-->{{formatPrice($value.price)}}
				<a href="#" onclick="plus(this, {{$value.skuId}})" class="glyphicon glyphicon-plus-sign"></a>
				<span class="num">{{$value.num}}</span>
				<a href="#" onclick="minus(this, {{$value.skuId}})" class="glyphicon glyphicon-minus-sign"></a>
				{{formatPrice($value.itemPrice)}}
				</td>
			</tr>
		</table>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
	<table>
		<tr><td>共<span id="totalNum"></span>条记录  合计:<!--¥--><span id="totalPrice"></span></td><td><button type="button" class="btn btn-success btn-sm" onclick="add()">测试后端</button></td></tr>
	</table>
</div>




</body>
</html>

