<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::date"/>
<script type="text/javascript" th:src="@{/static/module/store/promo/valuation/valuation.js}"></script>



<script type="text/javascript" th:inline="javascript">
$(function() {
	
});

var skuList = [];
var skuMap = {};

function query() {
	if ($("#date").val() == "") {
		alertWarning("日期不能为空!");
		return;
	}
	if ($("#stuIdStr").val() == "") {
		alertWarning("SKU_ID不能为空!");
		return;
	}
	
	showLoading();
	$.post([[@{/valuation/listSku}]], $("#queryForm").serialize(), function(r) {
		if (r.result == -1) {
			alertWarning("输入参数错误");
		}
		else if(r.result == -2) {
			var skuId = [];
			 r.arrayList.forEach(function(v){
				 skuId.push(v.skuId); 
			 });
			 alertWarning("SKU_ID:" + skuId + "不存在");
		}
		else if (r.result == 1) {
			skuList = r.arrayList;
			skuList.forEach(function(v){
				skuMap[v.skuId] = v;
			})
			refreshSkuList(skuList);
		}
		hideLoading();
	});
}

function refreshSkuList(skuList) {
	$("#listTemplate").parent().find("tr:gt(0)").remove();
	$("#listTemplate").parent().append(template("listTemplate", skuList));
	
	var totalNum = 0;
	var totalPrice = 0;
	skuList.forEach(function(v) {
		totalNum += v.num;
		totalPrice += new Number(v.itemPrice);
	})
	
	$("#totalNum").text(totalNum);
	$("#totalPrice").text(new Number(totalPrice).toFixed(2));
}

function plus(obj, skuId) {	
	var numJObj = $(obj).parent().find(".num");
	var num = new Number(numJObj.text()) + 1;
	skuMap[skuId].num = num;
	
	skuList = valu.count(skuList);	
	refreshSkuList(skuList);
}

function minus(obj, skuId) {
	var numJObj = $(obj).parent().find(".num");
	var num = new Number(numJObj.text()) - 1;
	
	if (num == 0) {
		var callback = function () {
			var index = skuList.indexOf(skuMap[skuId]);
			if (index > -1) {
				skuList.splice(index, 1);
				skuList = valu.count(skuList);
				refreshSkuList(skuList);
			}	
		}
		confirm(skuId, callback);
	}
	else {
		skuMap[skuId].num = num;
		skuList = valu.count(skuList);
		refreshSkuList(skuList);
	}
}

template.helper('formatPrice', function(price) {
	return new Number(price).toFixed(2);
})

var lastProgId = "";
var lastBackground = "";
template.helper('getGroupBackground', function(progId) {
	if (lastProgId != progId) {
		lastProgId = progId;
		return lastBackground = lastBackground == "" ? "groupBackground" : "";
	}
	return lastBackground;
})


// ------------------------------testService-----------------------------
function testService() {
	var skuId = [];
	var num = [];
	skuList.forEach(function(v){
		skuId.push(v.skuId);
		num.push(v.num);
	});
	if (skuId.length == 0) {
		alertWarning("没有数据");
		return;
	}
	alert(num)
	var para = "date=" + $("#date").val() + "&skuIdStr=" + skuId + "&numStr=" + num;
	$.post([[@{/valuation/testSubmit}]], para, function(r) {
		if (r.result == 1) {
			refreshBackSkuList(r.arrayList, r.totalNum, r.totalPrice);
		}
	})
}

function refreshBackSkuList(skuList, totalNum, totalPrice) {
	$("#backListTemplate").parent().find("tr:gt(0)").remove();
	$("#backListTemplate").parent().append(template("backListTemplate", skuList));
	
	$("#backTotalNum").text(totalNum);
	$("#backTotalPrice").text(totalPrice);
}

template.helper('changeImgSrc', function(imgSrc) {
	return [[#{imgUrl}]] + imgSrc;
})
</script>

<style>
.groupBackground {background-color:#EEEEEE;}
</style>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span>测试P</div>
		
		<form id="queryForm" class="form-inline">
		<label>日期:</label>
		<input type="text" class="form-control input-sm" style="width:90px" id="date" name="date" th:value="${today}" onclick="WdatePicker()">
		<label>SKU_ID(,分格):</label>
		<input type="text" class="form-control input-sm" id="stuIdStr" name="skuIdStr" placeholder="Id(,)" value="1,2" style="width:300px;">
		
		<button type="button" class="btn btn-default btn-sm" onclick="query();"><span class="glyphicon glyphicon-search"></span>测试</button>
		</form>
	</div>
	<table class="table table-bordered table-condensed">
	<tr style=""><th></th></tr>
	<script id="listTemplate" type="text/html">
	{{each}}
	<tr class="{{getGroupBackground($value.progId)}}">
		<td class="w-id"><img src="{{changeImgSrc($value.skuImgSrc)}}" style="width:80px; height:80px" alt=""></td>
		<td class="w-title-s">
		<table>
			<tr><td>{{$value.prodTitle}}</td></tr>
			<tr><td>{{$value.skuDesc}}:{{$value.skuName}}</td></tr>
			<tr><td>{{$value.policy}}</td></tr>
			<tr>
				<td><!--¥-->{{formatPrice($value.price)}}
				<a href="#this" onclick="plus(this, {{$value.skuId}})" class="glyphicon glyphicon-plus-sign"></a>
				<span class="num">{{$value.num}}</span>
				<a href="#this" onclick="minus(this, {{$value.skuId}})" class="glyphicon glyphicon-minus-sign"></a>
				{{formatPrice($value.itemPrice)}}
				</td>
			</tr>
		</table>
		</td>
	</tr>
	{{/each}}
	</script>
	</table>
	<table style="width:100%;margin-top:-15px;margin-bottom:3px;">
		<tr style="text-align:center;"><td colspan="10">共<span id="totalNum">-</span>件产品  合计:¥<span id="totalPrice">-</span></td></tr>
	</table>
	
	<button type="button" class="btn btn-success btn-sm" onclick="testService()">测试后端</button>
	
	<!-- 后端 -->
	<table class="table table-bordered table-condensed" style="margin-top:3px;">
	<tr>
		<th>SKU_ID</th>
		<th>产品标题</th>
		<th>SKU名称</th>
		<th>数量</th>
		<th>促销</th>
		<th>单价</th>
		<th>价格</th>
	</tr>
	<script id="backListTemplate" type="text/html">
	{{each}}
	<tr class="{{getGroupBackground($value.progId)}}">
		<td>{{$value.skuId}}</td>
		<td>{{$value.prodTitle}}</td>
		<td>{{$value.skuDesc}}:{{$value.skuName}}</td>
		<td>{{$value.num}}</td>
		<td>{{$value.policy}}</td>
		<td>{{$value.price}}</td>
		<td>{{$value.itemPrice}}</td>
	</tr>
	{{/each}}
	</script>
	</table>
	<table style="width:100%;margin-top:-15px;margin-bottom:3px;">
		<tr style="text-align:center;"><td>共<span id="backTotalNum">-</span>件产品  合计:¥<span id="backTotalPrice">-</span></td></tr>
	</table>
</div>




</body>
</html>

