

<select th:fragment="avg">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="5">5</option>
	<option value="8">8</option>
	<option value="10">10</option>
	<option value="12">12</option>
	<option value="12">15</option>
</select>


<select th:fragment="discount">
	<option value="1">10</option>
	<option value="0.95">9.5</option>
	<option value="0.9">9.0</option>
	<option value="0.85">8.5</option>
	<option value="0.8">8.0</option>
	<option value="0.75">7.5</option>
	<option value="0.7">7.0</option>
	<option value="0.6">6.0</option>
	<option value="0.5">5.0</option>
</select>


<div th:fragment="policyArgs">
	<script type="text/javascript">	
	function policyChange(obj) {
		$(".policy").hide();
		$("[id='" + obj.value + "']").show();
	}
	
	function validateMax() {
		var enough = $("[id='E:y,-:y'] [name='E:y']").val();
		var minus = $("[id='E:y,-:y'] [name='-:y']").val();
		if (minus >= enough) {
			return "minus必须小于enough";
		}
	}
	
	function getPolicyArgs(policyType) {
		var policy = $("#" + policyType + "Policy").val();
		if (policyType == "Change" || policyType == "Special" || policyType == "Dependence") {
			return policy;
		}
		
		
		var arg = [];
		var policyArray = policy.split(",");
		for (var i = 0; i < policyArray.length; i++) {
			var pre = policyArray[i].split(":")[0] + ":";
			var v = $("[id='" + policy + "']").find("[name='" + policyArray[i] + "']").val();
			arg.push(pre + policyArray[i].replace(policyArray[i], v));
		}
		return encodeURI(arg);
	}
	</script>
	
	<input type="text" style="display:none" id="ChangePolicy" class="form-control validate[required,custom[number]]" placeholder="enoughChange" >
	<div id="argType" style="display:none" class="input-group">
		<span class="input-group-addon">类型</span>	
		<select class="form-control" style="display:none" onchange="policyChange(this)" id="ProductPolicy">
			<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listProductPolicy}"></option>
		</select>
		<select class="form-control" style="display:none" onchange="policyChange(this)" id="CategoryPolicy">
			<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listCatPolicy}"></option>
		</select>
		<select class="form-control" style="display:none" onchange="policyChange(this)" id="BrandPolicy">
			<option th:value="${item.value}" th:text="${item.name}" th:each="item:${listBrandPolicy}"></option>
		</select>
	</div>
	
	
	
	<div id="%:d" style="display:none" class="input-group policy">
		<span class="input-group-addon">折扣</span>	
		<select class="form-control" th:include="::discount" name="%:d"></select>
	</div>	
	<div id="A:y" style="display:none" class="input-group policy">
		<span class="input-group-addon">均价</span>	
		<select class="form-control" th:include="::avg" name="A:y"></select>
	</div>
	<div id="E:y,-:y" style="display:none" class="input-group policy">
		<span class="input-group-addon">满</span>
		<input class="form-control validate[required,custom[number]]" type="text" style="width:70px" maxlength="5" name="E:y">
		<span class="input-group-addon">立减</span>
		<input class="form-control validate[required,custom[number,funcCall[validateMax]]]" type="text" style="width:70px" maxlength="5" name="-:y">
	</div>	
	<div id="%:d,2:d" style="display:none" class="input-group policy">
		<span class="input-group-addon">单件</span>
		<select class="form-control" id="discount" th:include="::discount" name="%:d"></select>
		<span class="input-group-addon">第二件</span>
		<select class="form-control" id="discount" th:include="::discount" name="2:d"></select>
	</div>
	<div id="%:d,2+:d" style="display:none" class="input-group policy">
		<span class="input-group-addon">第一件</span>
		<select class="form-control" id="discount" th:include="::discount" name="%:d"></select>
		<span class="input-group-addon">任两件及以上</span>
		<select class="form-control" id="discount" th:include="::discount" name="2+:d"></select>
	</div>
	<div id="y:Y,n:N" style="display:none" class="input-group policy">
		<span class="input-group-addon">元</span>
		<input class="form-control validate[required,custom[integer]]" id="enough" type="text" style="width:70px" maxlength="2" name="y:Y">
		<span class="input-group-addon">件</span>
		<input class="form-control validate[required,custom[number]]" id="minus" type="text" style="width:70px" maxlength="5" name="n:N">
	</div>
	<div id="+:y,m:1" style="display:none" class="input-group policy">
		<span class="input-group-addon">多一件</span>
		<input class="form-control validate[required,custom[number]]" type="text" style="width:70px" maxlength="5" name="+:y">
		<input type="hidden" value="1" name="m:1">
	</div>
	<div id="B:n,F:n" style="display:none" class="input-group policy">
		<span class="input-group-addon">买</span>
		<select class="form-control" name="B:n">
			<option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
		</select>
		<span class="input-group-addon">免</span>
		<select class="form-control" name="F:n">
			<option value="1">1</option><option value="2">2</option>
		</select>
	</div>
</div>





