<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:src="@{/static/module/store/release/prod/product.js}"></script>

<script type="text/javascript" th:inline="javascript">
$(function() {
	
});

function insert() {
	$.post([[@{/product/insertProduct}]], $("#addForm").serialize(), function(r) {
		if (r.result == 1) {
			alertSuccess();
		}
	});
}

function add() {
	if (!$("#addForm").validationEngine('validate')) return;
	uploadImg(insert);
}

function testArg() {
	setProArgs();
}

function setProArgs() {
	// 用|分格  @换行
	var argName = $("[name=argName]");
	var argValue = $("[name=argValue]");
	var result = [];
	for (var i = 0; i < argName.length; i++) {
		if (argName[i].value.indexOf("|") >= 0 || argValue[i].value.indexOf("|") >= 0) {
			alert((i + 1) + "存在|")
			return false;
		}
		if (argName[i].value.indexOf("@") >= 0 || argValue[i].value.indexOf("@") >= 0) {
			alert((i + 1) + "存在@")
			return false;
		}
		if ($.trim(argName[i].value) != "") {
			result.push($.trim(argName[i].value) + "|" + $.trim(argValue[i].value))
		}
	}
	$("#prodArgs").val(result.join("@"));
}


function uploadImg(callback) {
	var formData = new FormData();
	$(".uploadImg").each(function() {formData.append("file", $(this).data("file"))});	
	
	$.ajax({url:[[@{/imgUpload/multipleSave}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			var len = r.arrayList.length;
			if ($(".uploadImg").length != len) {
				alertDanger("上传失败");
				return;
			}
			
			for (var i = 0; i < len; i++) {
				// 上传后路径写回img
				$(".uploadImg").eq(i).data("imgSrc", r.arrayList[i]);
			}
			
			// 路径以,分格写到hidden
			$(".imgTr").each(function() {
				var r = [];
				$(this).find("img").each(function(){
					r.push($(this).data("imgSrc"));
				});
				$(this).find("[name=skuImgSrc]").val(r);
			});
			callback.call();
		}
	});
}

</script>

<style>
.imgTd {display:none;}
#skuTable>tbody>tr>td {height:86px;vertical-align:middle;}
</style>

</head>
<body>
<div class="form-horizontal form-body">
	<div class="form-group">
		<div class="form-title"><span class="glyphicon glyphicon-th-list"></span><span>新增商品</span></div>
	</div>
	

	<form id="addForm">
	<input type="hidden" id="prodArgs" name="prodArgs">
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>仓库：</label>
		<div class="col-sm-3">
			<select class="form-control" name="repoId">
				<option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
		
		<label class="col-sm-2 control-label"><span class="required">*</span>类目：</label>
		<div class="col-sm-3">
			<select class="form-control" name="catId">
				<option th:value="${item.catId}" th:text="${item.catName}" th:each="item:${listCat}"></option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>标题：</label>
		<div class="col-sm-7"><input type="text" name="prodTitle" class="form-control validate[required]" maxlength="32" style="width:500px" value="title1"></div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>描述：</label>
		<div class="col-sm-7"><textarea type="text" name="prodDesc" class="form-control validate[required]" maxlength="256" style="width:500px">desc1</textarea></div>
	</div>
	
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>SKU：</label>
		<div class="col-sm-8">
		<table id="skuTable" class="page-list-table table table-bordered table-condensed">
			<tr>
				<th style="width:55px">数量</th>
				<th style="width:95px">价格</th>
				<th style="display:none;" class="firstSkuTitle w-title-s">SKU名称</th>
				<th style="width:90px" class="">操作</th>
				<th>图片(可拖拉图片进来)</th>	
			</tr>
			<tr>
				<td><input type="text" name="stockNum" class="form-control validate[required,custom[integer]]" maxlength="3" style="width:50px" value="1"></td>
				<td><input type="text" name="price" class="form-control validate[required,custom[number]]" maxlength="7" style="width:90px" value="8.8"></td>
				<td style="display:none;" class="firstSkuTitle"><input type="text" name="skuName" class="form-control validate[required]" maxlength="32"></td>
				<td class="skuAction">
					<a href="#" onclick="sku.add(this)">[增加]</a>
				</td>
				<td class="dragImg">
				<input type="hidden" name="skuImgSrc">
				<table>
				<tr class="imgTr">
				<td>
					<input type="file" data-max-size="256000" onchange="img.fileChange(this)" style="display:none" accept=".jpg,.png">
					<a href="#" onclick="$(this).prev().click()">[+]</a>
				</td>
				</tr>
				</table>
				</td>
			</tr>
		</table>
		</div>
	</div>

	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>商品图片：</label>
		<div class="col-sm-8 dragImg" style="background-color:#EEEEEE">
		<table border=1 style="border-color:#DDDDDD;height:82px">
		<tr class="imgTr">
		<td>
			<input type="file" data-max-length="3" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
			<a href="#" onclick="$(this).prev().click()">[+]</a>
		</td>
		</tr>
		</table>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>产品参数：</label>
		<div class="col-sm-8" style="background-color:#EEEEEE;height:100px;overflow-y: scroll">
			<div th:each="i:${#strings.arraySplit('1,2,3,4,5,6,7,8,9,10',',')}">
			<label th:text="${i}" style="width:20px"></label>
			<input type="text" name="argName" class="form-control" style="width:100px;" maxlength="8">
			<input type="text" name="argValue" class="form-control" style="width:400px;" maxlength="30">
			</div>
		</div>
	</div>
	
	<!-- 移动到</form>上面 -->
	<div class="form-group">
		<label class="col-sm-2 control-label">存放位置：</label>
		<div class="col-sm-3">
			<input type="text" name="prodPosition" class="form-control" maxlength="16">
		</div>
		
		<label class="col-sm-2 control-label">店内码：</label>
		<div class="col-sm-3">
			<input type="text" name="barCode" class="form-control" maxlength="32">
		</div>
	</div>
	
	<div class="form-group">
		<div style="text-align: center;">
			<button class="btn btn-primary btn-sm" onclick="add()" type="button">确定</button>
			&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-default btn-sm">返回</button>
		</div>
	</div>

	</form>
	
	
	
	
	
















	
	
</div>

</body>
</html>

