<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>
<script type="text/javascript" th:src="@{/static/module/store/release/prod/product.js}"></script>

<script type="text/javascript" th:inline="javascript">
function update() {
	$.post([[@{/product/updateProduct}]], $("#editForm").serialize(), function(r) {
		if (r.result == 1) {
			alertSuccess("更新成功");
		}
	});
}

function edit() {
	// mainCatId
	var mainCatId = $("#catId option:selected").attr("data-mainCatId");
	$("#mainCatId").val(mainCatId);
	
	
	// validate product img|sku img
	if ($("#prodImg img").length == 0) {
		alertWarning("产品图片不能为空");
		return;
	}
	if ($(".skuImg").length != $(".skuImg img").length) {
		alertWarning("SKU图片不能为空");
		return;
	}
	
	// 产品参数
	setProArgs();
	if (!$("#editForm").validationEngine('validate')) return;
	uploadImg(update);
}

function setProArgs() {
	// 用|分格  @换行
	var argName = $("[name=argName]");
	var argValue = $("[name=argValue]");
	var result = [];
	for (var i = 0; i < argName.length; i++) {
		if (argName[i].value.indexOf("|") >= 0 || argValue[i].value.indexOf("|") >= 0) {
			alertWarning((i + 1) + "行存在|")
			return false;
		}
		if (argName[i].value.indexOf("@") >= 0 || argValue[i].value.indexOf("@") >= 0) {
			alertWarning((i + 1) + "行存在@")
			return false;
		}
		if ($.trim(argName[i].value) != "") {
			result.push($.trim(argName[i].value) + "|" + $.trim(argValue[i].value))
		}
	}
	$("#prodArgs").val(result.join("@"));
}

function uploadImg(callback) {
	var formData = new FormData();
	
	$(".skuImg .uploadImg").each(function() {
		formData.append("file", $(this).data("file"));
		formData.append("type", "sku");
	});
	
	$("#prodImg .uploadImg").each(function() {
		formData.append("file", $(this).data("file"));
		formData.append("type", "prod");
	});
	
	// 没有新图片上传
	if (formData.get("file") == null) {
		setImgToHidden();
		callback.call();
		return;
	}
	
	$.ajax({url:[[@{/imgUpload/prodSave}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r){
			var len = r.arrayList.length;
			if ($(".uploadImg").length != len) {
				alertDanger("上传图片失败");
				return;
			}
			for (var i = 0; i < len; i++) {
				// 上传后路径写回img
				$(".uploadImg").eq(i).attr("data-imgSrc", r.arrayList[i]);
			}
			
			setImgToHidden();
			callback.call();
		}
	});
}

function setImgToHidden() {
	// prodImg hidden
	var prodImgSrc = [];
	$("#prodImg img").each(function() {prodImgSrc.push($(this).attr("data-imgSrc"))});
	$("#prodImgSrc").val(prodImgSrc);
	
	// skuImg hidden
	$(".skuImg").each(function() {
		$(this).find("[name=skuImgSrc]").val($(this).find("img").attr("data-imgSrc"));
	});
}


// stock change
function stockChange(skuId) {
	$('#stock').modal('show');
	$("#stockForm")[0].reset();
	$("#stockSkuId").val(skuId);
	
	action = function() {
		if (!$("#stockForm").validationEngine('validate')) return;
		showLoading();
		$.post([[@{/stockChange/addStockChange}]], $("#stockForm").serialize(), function(r) {
			if (r.result) {
				// 修改对应的库存
				$('#sku' + skuId).val(r.result);
				$('#stock').modal('hide');
				hideLoading();
			}
		});
	}
}

function viewStockChange(skuId) {
	open([[@{/stockChange/listStockChange}]] + "?skuId=" + skuId);
}

function validateStockChange(field, rules, i, options) {
	if ($("#changeType").val() == 1 || $("#changeType").val() == 2) {
		if (field.val() < 0) {
			return $("#changeType option:selected").text() + "的数量必须为正数";
		}
	}
	else if ($("#changeType").val() == 3 || $("#changeType").val() == 4) {
		if (field.val() > 0) {
			return $("#changeType option:selected").text() + "的数量必须为负数";
		}
	}
}

</script>

<style>
.imgTd {display:none;}
#skuTable>tbody>tr>td {height:88px;vertical-align:middle;padding:0;}
</style>
</head>

<body>

<div class="form-horizontal form-body">

<div class="form-group"><div class="form-title"><span class="glyphicon glyphicon-th-list"></span><span>修改产品</span></div></div>
	
<form id="editForm">
	
	<input type="hidden" th:value="${prod.prodId}" name="prodId">
	<input type="hidden" id="prodArgs" name="prodArgs">
	
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>仓库：</label>
		<div class="col-sm-3">
			<select class="form-control" name="repoId">
				<option th:selected="${prod.repoId == item.repoId}" th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
			</select>
		</div>
		
		<label class="col-sm-2 control-label"><span class="required">*</span>分类：</label>
		<input type="hidden" id="mainCatId" name="mainCatId">
		<div class="col-sm-3">
			<select class="form-control" name="catId">
				<option th:selected="${prod.catId == item.catId}" th:attr="data-mainCatId=${item.parentId}" th:value="${item.catId}" th:text="${item.catName}" th:each="item:${listCat}"></option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>标题：</label>
		<div class="col-sm-3"><input type="text" name="prodTitle" class="form-control validate[required]" maxlength="32" style="width:500px" th:value="${prod.prodTitle}"></div>
		<label class="col-sm-2 control-label">品牌：</label>
		<div class="col-sm-3">
			<select class="form-control" id="brandId" name="brandId" onchange="localStorage.defaultBrandId=$(this).val()">
				<option value="">无</option>
				<option th:selected="${prod.brandId == item.brandId}" th:value="${item.brandId}" th:text="${item.brandName}" th:each="item:${listBrand}"></option>
			</select>
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>描述：</label>
		<div class="col-sm-8">
		<textarea th:text="${detail.prodDesc}" type="text" name="prodDesc" class="form-control validate[required]" maxlength="256" style="width:500px;">
		</textarea></div>
	</div>
	
	
	
	<div id="skuDescDiv" class="form-group" th:style="${prod.skuDesc == ''}?'display:none':''">
		<label class="col-sm-2 control-label"><span class="required">*</span>SKU属性：</label>
		<div class="col-sm-8"><input type="text" th:value="${prod.skuDesc}" name="skuDesc" class="form-control validate[required]" maxlength="32"></div>
	</div>
	
	 
	<div class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>SKU：</label>
		<div class="col-sm-7">
		<table id="skuTable" class="page-list-table table table-bordered table-condensed">
		<tr>
			<th style="width:55px">数量</th>
			<th style="width:95px">价格</th>
			<th th:style="${prod.skuDesc == ''}?'display:none':''" class="firstSkuItem w-title-s">Sname</th>
			<th style="width:90px">操作</th>
			<th>图片(可拖拉图片进来)</th>
			<th>库存操作</th>
		</tr>
		
		<tr th:each="sku,skuStat:${listSku}">
			<td><input type="text" name="stockNum" readonly="readonly" class="form-control validate[required,custom[integer]]" maxlength="3" style="width:50px" th:id="'sku'+${sku.skuId}" th:value="${sku.stockNum}"></td>
			<td><input type="text" name="price" class="form-control validate[required,custom[number]]" maxlength="7" style="width:90px" th:value="${sku.price}"></td>
			<td th:style="${prod.skuDesc == ''}?'display:none':''" class="firstSkuItem"><input type="text" name="skuName" class="form-control validate[required]" maxlength="32" th:value="${sku.skuName}"></td>
			<td class="skuAction">
				<a th:if="${skuStat.index == 0}" href="#this" onclick="sku.add(this)">[增加]</a>
				<!-- 已经有的不能删除,可以修改库存为0 -->
				<a th:if="${skuStat.index > 0}" href="#" onclick="sku.top(this)">[置顶]</a>
			</td>
			<td class="dragImg skuImg">
				<input type="hidden" name="skuId" th:value="${sku.skuId}">
				<input type="hidden" name="skuImgSrc">
				<table><tr class="imgTr"><td>
					<input type="file" data-max-size="256000" onchange="img.fileChange(this)" style="display:none" accept=".jpg,.png">
					<a href="#this" onclick="$(this).prev().click()">[+]</a>
				</td>
				<td class="imgTd" style="height:80px">
					<img onclick="img.click(this)" onload="img.resize(this)" th:src="#{imgUrl}+${sku.skuImgSrc}" th:attr="data-imgSrc=${sku.skuImgSrc}"/>
					<span class="glyphicon glyphicon-remove-circle" onclick="img.remove(this)"></span>
				</td>
				</tr>
				</table>
			</td>
			<td>
				<a class="stockChange" href="#this" th:onclick="'stockChange('+${sku.skuId}+')'">修改库存</a>&nbsp;&nbsp;
				<a class="stockChange" href="#this" th:onclick="'viewStockChange('+${sku.skuId}+')'">变更历史</a>
			</td>	
		</tr>
		
		</table>
		</div>
	</div>

	<div id="prodImg" class="form-group">
		<label class="col-sm-2 control-label"><span class="required">*</span>产品图片：</label>
		<input type="hidden" id="prodImgSrc" name="prodImgSrc">
		<div class="col-sm-8 dragImg" style="background-color:#EEEEEE">
		<table border=1 style="border-color:#DDDDDD;height:82px">
		<tr class="imgTr">
		<td>
			<input type="file" data-max-length="3" accept=".jpg,.png" multiple="multiple" onchange="img.fileChange(this)" style="display:none">
			<a href="#this" onclick="$(this).prev().click()">[+]</a>
		</td>
		<td class="imgTd" style="height:80px;width:100px;" th:each="img,imgStat:${listImg}">
			<table style="height:80px">
			<tr>
				<td rowspan="2" style="width:80px;"><img onclick="img.click(this)" onload="img.resize(this)" th:src="#{imgUrl}+${img.prodImgSrc}" th:attr="data-imgSrc=${img.prodImgSrc}"/></td>
				<td class="glyphicon glyphicon-remove-circle" onclick="img.remove(this)"></td>
			</tr>
			<tr><td class="glyphicon glyphicon-step-backward leftTopImg" th:style="'display:'+${imgStat.index==0?'none':''}+''" onclick="img.top(this)"></td></tr>
			</table>
		</td>
		</tr>
		</table>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">产品参数：</label>
		<div class="col-sm-8" style="background-color:#EEEEEE;height:100px;overflow-y: scroll">
			<div th:each="arg,argStat:${prodArsList}">
			<label th:text="${argStat.index+1}" style="width:20px"></label>
			<input type="text" th:value="${arg.name}" name="argName" class="form-control" style="width:100px;" maxlength="8">
			<input type="text" th:value="${arg.value}" name="argValue" class="form-control" style="width:400px;" maxlength="30">
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">存放位置：</label>
		<div class="col-sm-3">
			<input type="text" name="prodPosition" class="form-control" maxlength="16" th:value="${detail.prodPosition}">
		</div>
		<label class="col-sm-2 control-label">店内码：</label>
		<div class="col-sm-3">
			<input type="text" name="barCode" class="form-control" maxlength="32" th:value="${detail.barCode}">
		</div>
	</div>
	
	<div class="form-group">
		<div style="text-align: center;">
			<button class="btn btn-primary btn-sm" onclick="edit()" type="button">确定</button>
			&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-default btn-sm">返回</button>
		</div>
	</div>

</form>
</div>

<div th:fragment="stock" th:replace="common/fragment/common::modal('stock', '库存变更', 460)">
	<div class="form-group">
		<input type="hidden" id="stockSkuId" name="skuId">
		<label class="col-sm-3 control-label"><span class="required">*</span>变更类型：</label>
		<div class="col-sm-7">
			<select class="form-control" id="changeType" name="changeType">
				<option th:each="item:${listChangeType}" th:value="${item.value}" th:text="${item.name}"></option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label"><span class="required">*</span>数量：</label>
		<div class="col-sm-7"><input type="text" name="changeNum" class="form-control validate[required,custom[integer],funcCall[validateStockChange]]" maxlength="3"></div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">备注：</label>
		<div class="col-sm-7"><input type="text" name="changeComment" class="form-control" maxlength="128"></div>
	</div>
</div>

</body>
</html>

