<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::validation"/>

<script type="text/javascript" th:inline="javascript">

/**
 * onShelves时，需要暂停分类和品牌促销,或程序判断?
 */

$(function() {
	refreshPageData([[${listJson}]]);
});

function queryPage(pageNumber) {
	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/product/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
	});
}

function add() {
	open(contextPath + 'product/addProduct');
}



function edit() {
	
}




function onShelves(prodId) {
	$.post([[@{/product/onShelves}]], "prodId=" + prodId, function(r) {
		var html = actionHtml(prodId, r.result);
		$("#action" + prodId).html(html);
		$("#status" + prodId).html(r.string);
	});
}

function offShelves(prodId) {
	$.post([[@{/product/offShelves}]], "prodId=" + prodId, function(r) {
		var html = actionHtml(prodId, r.result);
		$("#action" + prodId).html(html);
		$("#status" + prodId).html(r.string);
	});
}


template.config("escape", false);
template.helper('actionHtml', function(v) {	
	return actionHtml(v.prodId, v.recordStatus);
})

function actionHtml(prodId, status) {
	var edit = '<a href="#" onclick="edit(' + prodId + ')">[修改]</a>';
	var onShelves = '<a href="#" onclick="onShelves(' + prodId + ')">[onShe]</a>';
	var offShelves = '<a href="#" onclick="offShelves(' + prodId + ')">[offShe]</a>';
	if (status == 1 || status == 3) return edit + onShelves;
	if (status == 2) return edit + offShelves;
}

</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('PROD')">
	<div th:fragment="queryFragment">
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		
		<!-- productStatusList -->
		<select class="form-control input-sm" name="recordStatus">
				<option value="">全部</option>
				<option th:value="${item.value}" th:text="${item.name}" th:each="item:${productStatusList}"></option>
		</select>
		
		
		<input type="text" class="form-control input-sm" name="testName" placeholder="请输入NAME" style="width:200px;">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>TIME</th>
		<th>sta</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.prodId}}</td>
		<td class="w-title-s">{{v.prodTitle}}</td>
		<td class="w-id" id="status{{v.prodId}}">{{v.recordStatusDesc}}</td>
		<td class="w-action" id="action{{v.prodId}}">{{actionHtml(v)}}</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

