<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::file"/>

<script type="text/javascript" th:inline="javascript">

$(function() {
});


function exportExcel() {
	showLoading();
	$.post([[@{/product/exportProductDetail}]], $("#queryForm").serialize(), function(r) {
		var th = ['产品ID', '价格', '仓库', '分类', '品牌', '产品标题', '库存', '状态', '内码', '位置', 'SKU'];
		var trHtml = '<tr><th>' + th.join('</th><th>') + '</th></tr>';
		r.arrayList.forEach(function(v) {
			var td = [v.prodId, v.prodPrice, $("#repoId option[value=" + v.repoId + "]").text(), $("#catId option[value=" + v.catId + "]").text()];
			td = td.concat($("#brandId option[value=" + v.brandId + "]").text());
			td = td.concat([v.prodTitle, v.prodStock, v.prodStatusDesc, v.barCode, v.prodPosition, v.skuMsg]);;
			
			trHtml += '<tr><td>' + td.join('</td><td>') + '</td></tr>';
		});
		tableToExcel(trHtml, "产品列表");
		hideLoading();
	});
}



</script>

<style>

.page-list-footer {display:none}
</style>
</head>

<body>
<div th:replace="common/fragment/common::pageList('xxxx')">
	<div th:fragment="queryFragment">
		
		<label>仓库:</label>
		<select class="form-control input-sm" id="repoId" name="repoId">
			<option value="">全部</option><option th:value="${item.repoId}" th:text="${item.repoName}" th:each="item:${listRepo}"></option>
		</select>
		
		<select class="form-control input-sm" name="recordStatus" style="display:none">
			<option value="">全部</option><option th:value="${item.value}" th:text="${item.name}" th:each="item:${productStatusList}"></option>
		</select>
		
		<select class="form-control input-sm" id="catId" name="catId" onchange="catChange(this)" style="display:none">
			<option value="">全部</option><option th:attr="data-mainCatId=${item.parentId}" th:value="${item.catId}" th:text="${item.catName}" th:each="item:${listCat}"></option>
		</select>
		
		<select class="form-control input-sm" id="brandId" name="brandId" onchange="localStorage.defaultBrandId=$(this).val()" style="display:none">
			<option value="">全部</option><option th:value="${item.brandId}" th:text="${item.brandName}" th:each="item:${listBrand}"></option>
		</select>
		
		<button type="button" class="btn btn-default btn-sm" onclick="exportExcel();">xxxxxxxxxxx</button>
	
	</div>
	<table th:fragment="listFragment">
	</table>
</div>



</body>
</html>

