<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">


$(function() {
	var prodId = [[${prodId}]];
	if (prodId != null) {
		$("#prodId").val(prodId);
		queryPage(1);
	}
});

function queryPage(pageNumber) {
	if ($("#prodId").val() == "") {
		alertWarning("产品ID不能为空");
		return;
	}

	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/changeStatus/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
		
		$("#prodMsg").text(r.string);
	});
}


</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('产品状态变更历史')">
	<div th:fragment="queryFragment">
		<input type="text" class="form-control input-sm" id="prodId" name="prodId" placeholder="请输入产品ID" style="width:200px;" onkeyup="this.value=this.value.replace(/\D/g,'')">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
		产品标题：
		<span id="prodMsg"></span>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th class="w-id">历史ID</th>
		<th class="w-id">状态</th>
		<th class="w-time">变更时间</th>
		<th class="w-id">变更人</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td>{{v.changeStatusId}}</td>
		<td>{{v.changeStatusDesc}}</td>
		<td>{{v.created}}</th>
		<td>{{v.creator}}</th>
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

