<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<script type="text/javascript" th:inline="javascript">

$(function() {
	
});

function testRequest() {
	var PPXTOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcGVuaWQiOiJvRDFuNjBIWkhXQmE2dWNXU2RZNTBITldQZnE0Iiwic2Vzc2lvbl9rZXkiOiJUQW5jcU1EUlRoTlpxZUVzbWIzeHJRPT0iLCJpYXQiOjE1MTU0NjgzMTd9.FYiDa1kF8mV5cBWM6YPVC5nFPow7qpwm9muEHTKDl0E";
	var storeId = 1;
	var merchantId = -1;
	$.ajaxSetup({headers:{"content-type":"application/json", "storeId":storeId, "merchantId":merchantId, "PPXTOKEN":PPXTOKEN}});
	
	/*
	var json = {"para":"testpara"};
	$.post([[@{/MRequest/test}]], JSON.stringify(json), function(r) {
		alert(JSON.stringify(r));
	});
	*/
	var json = {};
	$.post([[@{/}]] + $("#url").val(), null, function(r) {
		
		$("#returnJson").text(JSON.stringify(r));
		
	});
}


//alert(1%2==0);

</script>
</head>

<body>



<input type="text" id="url" value="MHome/listJson" style="width:300px">

<button type="button" onclick="testRequest()">test</button>


<div id="returnJson">

</div>

<!-- 
http://www.igooda.cn/jsdt/20130827355.html  背景图放大
 -->



<div style="padding:2px 15px; border:1px solid black;width:750px;height:300px;">



<script>

function test() {
	$("#testId").css("height", "300px");
	
	$("#mask").show();
}

function onBack() {
	$("#mask").hide();
	$("#testId").css("height", "0");
}

</script>


<button onclick="test()">TEST</button>







</div>


<div onclick="onBack()" id="mask" style="position:fixed;top:0;left:0;width:750px;height:100%;background-color:black;display:none;opacity: 0.5;">
</div>


<div id="testId" style="width:750px;height:0px;position:fixed;background-color: blue;left:0;bottom:0;transition: height 0.3s;">
	
	
	<div>
	
	content
	</div>

</div>
		
		
















</body>
</html>

