<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<script type="text/javascript" th:inline="javascript">


function testRequest() {
	var PPXTOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcGVuaWQiOiJvRDFuNjBIWkhXQmE2dWNXU2RZNTBITldQZnE0Iiwic2Vzc2lvbl9rZXkiOiJzZXNzaW9uX2tleV92YWx1ZSIsImlhdCI6MTUyMDU5MTYzM30.fn1-4J5VSL_NFjyp7QaKukVLfXkUpCDBg2ORVWM685g";
	var storeId = 1;
	var merchantId = 1;
	$.ajaxSetup({headers:{"content-type":"application/json", "storeId":storeId, "merchantId":merchantId, "PPXTOKEN":PPXTOKEN}});
	
	/*
	var json = {"para":"testpara"};
	$.post([[@{/MRequest/test}]], JSON.stringify(json), function(r) {
		alert(JSON.stringify(r));
	});
	*/
	
	/*
	// search
	var json = {"w":"title"};
	$.post([[@{/}]] + $("#url").val(), JSON.stringify(json), function(r) {
		$("#returnJson").text(JSON.stringify(r));
	});
	*/
	
	/*
	$.post([[@{/}]] + $("#url").val(), null, function(r) {
		$("#returnJson").text(JSON.stringify(r));
	});
	*/
	
	// confirm
	//var json = {jsCode:"013UgqcP13Q6V21gOtcP1DLAcP1UgqcO"};
	//json = {}; 
	// JSON.stringify(json)
	
	
	
	
	showLoading();
	var para = $("#para").val();
	var url = $("#url").val();
	
	// 保存在本地
	localStorage.defaultUrl = url;
	localStorage.defaultPara = para;
	if ("MQuery/query" == url) {
		url = url + "?" + para;
		para = "";
	}
		
	$.post([[@{/}]] + url, para, function(r) {
		hideLoading();
		$("#returnJson").text(JSON.stringify(r));
	});
}

var requestMap = [];
requestMap["MLogin/login"] = {jsCode:"013UgqcP13Q6V21gOtcP1DLAcP1UgqcO"};
requestMap["MQuery/query"] = "w=test";

function urlChange(obj) {
	var paraVal = requestMap[obj.value];
	if (obj.value == "MQuery/query") {
		$("#para").val(paraVal);
	}
	else {
		$("#para").val(JSON.stringify(paraVal));
	}
	$("#url").val(obj.value);
}

$(function() {
	if (localStorage.defaultUrl) {
		$("#url").val(localStorage.defaultUrl);
	}
	if (localStorage.defaultPara) {
		$("#para").val(localStorage.defaultPara);
	}
});

</script>
</head>

<body>



<div>
<select class="form-control" onchange="urlChange(this)">
	<option value="MLogin/login">MLogin/login</option>
	<option value="MQuery/query">MQuery/query</option>
</select>
</div>

<div>
	<input class="form-control" type="text" id="url" value="MQuery/query" style="width:300px">
	<button type="button" onclick="testRequest()" class="btn btn-default">test</button>
</div>

<div>
	<textarea id="para" class="form-control" style="width:440px" rows="3"></textarea>
</div>
<div id="returnJson"></div>


</body>
</html>

