<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<script type="text/javascript" th:inline="javascript">

$(function() {
	
});

function testRequest() {
	var PPXTOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcGVuaWQiOiJvRDFuNjBIWkhXQmE2dWNXU2RZNTBITldQZnE0Iiwic2Vzc2lvbl9rZXkiOiJUQW5jcU1EUlRoTlpxZUVzbWIzeHJRPT0iLCJpYXQiOjE1MTU0NjgzMTd9.FYiDa1kF8mV5cBWM6YPVC5nFPow7qpwm9muEHTKDl0E";
	var storeId = 1;
	var merchantId = -1;
	$.ajaxSetup({headers:{"content-type":"application/json", "storeId":storeId, "merchantId":merchantId, "PPXTOKEN":PPXTOKEN}});
	
	/*
	var json = {"para":"testpara"};
	$.post([[@{/MRequest/test}]], JSON.stringify(json), function(r) {
		alert(JSON.stringify(r));
	});
	*/
	
	/*
	// search
	var json = {"w":"title"};
	$.post([[@{/}]] + $("#url").val(), JSON.stringify(json), function(r) {
		$("#returnJson").text(JSON.stringify(r));
	});
	*/
	
	/*
	$.post([[@{/}]] + $("#url").val(), null, function(r) {
		$("#returnJson").text(JSON.stringify(r));
	});
	*/
	
	// confirm
	var json = {jsCode:"013UgqcP13Q6V21gOtcP1DLAcP1UgqcO"};
	$.post([[@{/}]] + $("#url").val(), JSON.stringify(json), function(r) {
		$("#returnJson").text(JSON.stringify(r));
	});
	
}

</script>
</head>

<body>



<input type="text" id="url" value="MLogin/login" style="width:300px">

<button type="button" onclick="testRequest()">test</button>


<div id="returnJson">

</div>


<div style="width:750px;height:500px;border:1px solid black;overflow-x:hidden;display: none">

<div style="display:flex;flex-direction:column;text-align: center;">
<div style="display:fixed;position: absolute;text-align:center;width:750px">
	<input type="text">
</div>

<div id="swiper" style="margin-top:40px">
	<img src="https://img00.zhaopin.cn/img_button/201706/12/dbzp99053_105929699893.jpg" style="width:740px;height:50px">
</div>

<div style="display:flex;flex-direction:row;justify-content:space-around;">
	<img src="https://img00.zhaopin.cn/img_button/201706/12/dbzp99053_105929699893.jpg" style="width:50px;height:50px">
	<img src="https://img00.zhaopin.cn/img_button/201706/12/dbzp99053_105929699893.jpg" style="width:50px;height:50px">
	<img src="https://img00.zhaopin.cn/img_button/201706/12/dbzp99053_105929699893.jpg" style="width:50px;height:50px">
	<img src="https://img00.zhaopin.cn/img_button/201706/12/dbzp99053_105929699893.jpg" style="width:50px;height:50px">
</div>

<div>
login<br>login<br>login<br>login<br>login<br>login<br>login<br>
login<br>login<br>login<br>login<br>login<br>login<br>login<br>
login<br>login<br>login<br>login<br>login<br>login<br>login<br>
</div>


</div>

</div>





</body>
</html>

