<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<script type="text/javascript" th:inline="javascript">


function testRequest() {
	var PPX_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcGVuaWQiOiJvRDFuNjBIWkhXQmE2dWNXU2RZNTBITldQZnE0Iiwic2Vzc2lvbl9rZXkiOiJzZXNzaW9uX2tleV92YWx1ZSIsImlhdCI6MTUyMDU5MTYzM30.fn1-4J5VSL_NFjyp7QaKukVLfXkUpCDBg2ORVWM685g";
	$.ajaxSetup({headers:{"content-type":"application/json", "STORE_ID":$("#sId").val(), "MER_ID":$("#mId").val(), "PPX_TOKEN":PPX_TOKEN, "PROMO_CODE":"code001"}});

	showLoading();
	var para = $("#para").val();
	var url = $("#url").val();
	
	// 保存在本地
	localStorage.defaultUrl = url;
	localStorage.defaultPara = para;
	
	if ($.trim(para).indexOf("{") != 0) {
		url = url + "?" + para;
		para = "";
	}
		
	$.post([[@{/}]] + url, para, function(r) {
		hideLoading();
		$("#returnJson").text(JSON.stringify(r));
	});
}

var requestMap = [];

requestMap["MCart/editSkuNum"] = "skuId=1&num=3";
 

requestMap["MLogin/login"] = {jsCode:"013UgqcP13Q6V21gOtcP1DLAcP1UgqcO"};
requestMap["MQuery/query"] = "w=test";
requestMap["MProduct/getProduct"] = "prodId=1";
requestMap["MCart/addSku"] = "skuId=1";
requestMap["MFavorite/addProduct"] = "prodId=1";
requestMap["MFavorite/listProduct"]= {"pageNumber":1}


requestMap["MOrder/confirmOrder"] = {skuId:[1,2],num:[1,1]}
requestMap["MOrder/submitOrder"] = {skuId:[1,2],num:[1,1]}




requestMap["MOrder/listMyOrder"] = {};



requestMap["MHome/listLevelProd"] = {pageNumber:1};

requestMap["MLog/addPromoEntry"] = {};



function urlChange(obj) {
	var paraVal = requestMap[obj.value];
	
	if (typeof paraVal == "string") {
		$("#para").val(paraVal);
	}
	else {
		$("#para").val(JSON.stringify(paraVal));
	}
	$("#url").val(obj.value);
}

$(function() {
	if (localStorage.defaultUrl) {
		$("#url").val(localStorage.defaultUrl);
	}
	if (localStorage.defaultPara) {
		$("#para").val(localStorage.defaultPara);
	}
});

</script>
</head>

<body>










<div>
<select class="form-control" onchange="urlChange(this)">
	<option value="">请选择</option>
	<option value="MCart/editSkuNum">MCart/editSkuNum</option>
	
	<option value="MSearch/deleteLastWord">MSearch/deleteLastWord</option>
	<option value="MSearch/listWord">MSearch/listWord</option>
	
	<option value="MLog/addPromoEntry">MLog/addPromoEntry</option>
	
	<option value="MOrder/submitOrder">MOrder/submitOrder</option>
	<option value="MOrder/listMyOrder">MOrder/listMyOrder</option>
	<option value="MOrder/confirmOrder">MOrder/confirmOrder</option>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<option value="MFavorite/addProduct">MFavorite/addProduct</option>
	<option value="MFavorite/listProduct">MFavorite/listProduct</option>
	<option value="MCart/listSku">MCart/listSku</option>
	<option value="MCart/addSku">MCart/addSku</option>
	<option value="MProduct/getProduct">MProduct/getProduct</option>
	<option value="MHome/listLevelProd">MHome/listLevelProd</option>
	<option value="MHome/listHome">MHome/listHome</option>
	<option value="MLogin/login">MLogin/login</option>
	<option value="MStore/listStore">MStore/listStore</option>
	<option value="MQuery/query">MQuery/query</option>
	<option value="MQuery/listCategory">MQuery/listCategory</option>
	<option value="MQuery/listBrand">MQuery/listBrand</option>
	<option value="MQuery/listProgram">MQuery/listProgram</option>
	<option value="MQuery/listTheme">MQuery/listTheme</option>
</select>
SID: <input class="form-control" type="text" id="sId" value="1" style="width:50px">
MID: <input class="form-control" type="text" id="mId" value="1" style="width:50px">
</div>

<div>
	<input class="form-control" type="text" id="url" value="MQuery/query" style="width:300px">
	<button type="button" onclick="testRequest()" class="btn btn-default">test</button>
</div>

<div>
	<textarea id="para" class="form-control" style="width:440px" rows="3"></textarea>
</div>
<div id="returnJson"></div>


</body>
</html>

