<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>
<link th:replace="common/fragment/common::formatter"/>

<script type="text/javascript" th:inline="javascript">
function refreshData(data) {
	var pageTemplateId = "pageTemplate";
	$("#" + pageTemplateId).parent().find("tr:gt(0)").remove();
	$("#" + pageTemplateId).parent().append(template(pageTemplateId, data));
}

$(function() {
	refreshData([[${listJson}]]);
});

function query() {
	showLoading();
	$.post([[@{/searchVersion/listJson}]], null, function(r) {
		refreshData(r);
		hideLoading();
	});
}

function createIndex(versionName) {
	showLoading();
	$.post([[@{/searchCreate/createIndex}]], "versionName=" + versionName, function(r) {
		query();
	});
}

function useIndex(versionName) {
	showLoading();
	$.post([[@{/searchCreate/useIndex}]], "versionName=" + versionName, function(r) {
		query();
	});
}

function viewDetail(obj) {
	var json = $(obj).attr("data-content");
	$("#viewDetailJson").text(formatJson(json));
	$("#viewDetail").modal("show");
}

</script>
</head>

<body>
<div class="page-list-body">
	<div class="page-list-query">
		<div class="page-list-title"><span class="glyphicon glyphicon-th-list"></span><span>DEMO_TEST</span></div>
	</div>
	<table class="page-list-table table table-bordered table-condensed">
	<tr>
		<th>v</th>
		<th>b</th>
		<th>e</th>
		<th>SSSS</th>
		<th>UPxxx</th>
		<th>spendT</th>
		<th>操作</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.versionName}}</td>
		<td class="w-time">{{v.createBegin}}</td>
		<td class="w-time">{{v.createEnd}}</td>
		<td class="w-id">{{v.versionStatus}}</td>
		<td class="w-id">{{v.updated}}</td>
		<td class="w-id">{{v.spendTime}}s</td>
		<td class="w-action">
			{{if v.versionStatus == 1}}<a href="javascript:createIndex('{{v.versionName}}')">CCCCC</a>{{/if}}
			{{if v.versionStatus == 2}}
				<a href="javascript:createIndex('{{v.versionName}}')">reCCC</a>&nbsp;&nbsp;
				<a href="javascript:useIndex('{{v.versionName}}')">UUUU</a>

				
			{{/if}}
			<a href="#" data-content="{{v.createInfo}}" onclick="viewDetail(this)">[详情]</a>
		</td>
	</tr>
	{{/each}}
	</script>
	
	
	</table>
</div>

<div th:replace="common/fragment/common::viewDetail"></div>

</body>
</html>

