<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<link th:replace="common/fragment/common::common"/>

<script type="text/javascript" th:inline="javascript">


$(function() {
	var skuId = [[${skuId}]];
	if (skuId != null) {
		$("#skuId").val(skuId);
		queryPage(1);
	}
});

function queryPage(pageNumber) {
	if ($("#skuId").val() == "") {
		alertWarning("skuId不能为空");
		return;
	}

	showLoading();
	$("#pageNumber").val(pageNumber);
	$.post([[@{/priceAdjust/listJson}]], $("#queryForm").serialize(), function(r) {
		refreshPageData(r);
		hideLoading();
		
		$("#skuMsg").text(r.string);
	});
}


</script>
</head>

<body>
<div th:replace="common/fragment/common::pageList('价格变更历史')">
	<div th:fragment="queryFragment">
		<input type="text" class="form-control input-sm" id="skuId" name="skuId" placeholder="请输入skuId" style="width:200px;" onkeyup="this.value=this.value.replace(/\D/g,'')">
		<button type="button" class="btn btn-default btn-sm" onclick="queryPage(1);"><span class="glyphicon glyphicon-search"></span>搜索</button>
		
		<span id="skuMsg"></span>
	</div>
	<table th:fragment="listFragment">
	<tr>
		<th>ID</th>
		<th>价格</th>
		<th>创建时间</th>
		<th>备注</th>
	</tr>
	<script id="pageTemplate" type="text/html">
	{{each arrayList as v i}}
	<tr>
		<td class="w-id">{{v.adjustId}}</td>
		<td class="w-id">{{v.adjustPrice}}</td>
		<td class="w-time">{{v.created}}</th>
		<td class="w-title-s">{{v.adjustComment}}</td>
	</tr>
	{{/each}}
	</script>
	</table>
</div>



</body>
</html>

